<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col v-if="!$store.state.profile_status" cols="12">
          <v-alert prominent border="left" transition="slide-x-transition" type="error">
            <v-row align="center">
              <v-col class="grow">Complete the settings to continue.</v-col>
              <v-col class="shrink">
                <v-btn @click="$router.push('/settings')">Update Settings</v-btn>
              </v-col>
            </v-row>
          </v-alert>
        </v-col>
        <v-col cols="12" md="8">
          <v-card color="#2B3449">
            <v-card-title class="subtitle-1">APPLY LEAVE</v-card-title>
            <v-card-text>
              <v-row>
                <v-col cols="12" md="6">
                  <v-select
                    v-model="leave_type_model"
                    :items="leave_types"
                    append-icon="mdi-chevron-down"
                    label="Select Leave Type"
                  >
                    <template v-slot:selection="{ item, index }">
                      <v-chip v-if="index === 0">
                        <span>{{ item }}</span>
                      </v-chip>
                    </template>
                  </v-select>
                </v-col>

                <v-col cols="12" md="6">
                  <v-combobox
                    :loading="pocSelectLoader"
                    class="poc-select"
                    v-model="selectedPoc"
                    :items="sb_users"
                    label="Select POC"
                    multiple
                    chips
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        :key="JSON.stringify(data.item)"
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        :disabled="data.disabled"
                        @click:close="data.parent.selectItem(data.item)"
                      >
                        <v-avatar
                          class="accent white--text"
                          left
                          v-text="data.item.slice(0, 1).toUpperCase()"
                        ></v-avatar>
                        {{ data.item }}
                      </v-chip>
                    </template>
                  </v-combobox>
                </v-col>
                <v-col cols="12" md="6">
                  <!-- :min="new Date().toISOString().substr(0, 10)" -->
                  <v-date-picker
                    id="leaveApplyCalendar"
                    full-width
                    v-model="dates"
                    :events="public_holidays"
                    multiple
                    color="#2B3449"
                  ></v-date-picker>
                  <div class="event-square"></div>
                  <p class="overline">Public Holidays</p>
                </v-col>
                <v-col cols="12" fill-height class="fill-height h-100 text-center" md="6">
                  <v-textarea
                    outlined
                    rows="12"
                    auto-grow
                    v-model="leave_message"
                    name="input-7-4"
                    label="Reason"
                    :value="leave_message"
                  ></v-textarea>
                  <v-btn
                    v-if="!$store.state.profile_status"
                    disabled
                    color="rgb(238, 64, 55)"
                    large
                  >Disabled</v-btn>
                  <v-btn v-else @click="applyLeave" color="rgb(238, 64, 55)" large>Apply Leave</v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card color="#2B3449">
            <v-card-title class="subtitle-1">LAST LEAVE REQUEST</v-card-title>
            <v-card-text>
              <v-list>
                <v-list-item color="#2B3449">
                  <v-list-item-avatar color="teal" size="48">
                    <span class="white--text headline">C</span>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>{{lastLeaveRequest.type}}</v-list-item-title>
                    <v-list-item-subtitle>{{lastLeaveRequest.dates}} - {{lastLeaveRequest.status}}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>
          </v-card>
        </v-col>
        <v-dialog v-model="dialog" persistent max-width="290">
          <v-card>
            <v-card-title class="headline">{{ leave_app_status }}</v-card-title>
            <v-card-text v-html="leave_app_desc"></v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="green darken-1" text @click="dialog = false">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>
    <v-overlay v-model="loaderAnim">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";
export default {
  asyncData(context) {
    return {
      username: context.store.state.user_name,
      user_avatar: context.store.state.avatar
    };
  },
  methods: {
    async applyLeave() {
      this.loaderAnim = true;
      var token = this.$store.state.token;
      var fielderror = [];
      if (this.leave_type_model == "") {
        fielderror.push("Select leave type");
      }
      if (this.selectedPoc == "") {
        fielderror.push("Select POC");
      }
      if (this.dates == "") {
        fielderror.push("Select dates");
      }
      if (this.leave_message == "") {
        fielderror.push("Enter reason");
      }
      if (fielderror.length > 0) {
        this.leave_app_status = "Error";
        var eHtml = "";
        for (let i = 0; i < fielderror.length; i++) {
          var eMsg = fielderror[i];
          eHtml += "<li>" + eMsg + "</li>";
        }
        this.leave_app_desc = `Please fill the required fields <br> <ul>${eHtml}</ul>`;
        this.loaderAnim = false;
        this.dialog = true;
        return;
      }
      var leave_date_text = [];

      var currentYear = new Date().getFullYear();
      for (let j = 0; j < this.dates.length; j++) {
        const loopeddate = this.dates[j];
        var year = this.$moment(loopeddate, "YYYY-MM-DD").year();
        var dateText = this.$moment(loopeddate).format("MMMM Do YYYY");
        leave_date_text.push(dateText);
      }

      var isAvailable = await this.$axios.post("/api/leave/check-date", {
        date: this.dates,
        token: this.$store.state.token
      });

      if (isAvailable.data.date) {
        this.leave_app_status = "Duplicate Date";
        this.leave_app_desc =
          "Leave request already found on one of these days. Please re-select the dates or cancel the existing one ";
        this.loaderAnim = false;
        this.dialog = true;
        return;
      }

      var leavedata = {
        leave_type: this.leave_type_model,
        leave_poc: this.selectedPoc,
        leave_dates: this.dates,
        leave_message: this.leave_message,
        token: token,
        leave_date_text
      };

      let { data } = await axios.post("/api/leave/create", leavedata, {
        withCredentials: true
      });
      if (data) {
        if (data.status == "ok") {
          this.leave_app_status = "Success !";
          this.leave_app_desc =
            "Your leave application was successfully processed.";
          this.leave_type_model = "";
          this.selectedPoc = [];
          this.dates = [];
          this.leave_message = "";
          this.loaderAnim = false;
          this.dialog = true;
        } else if (data.status == "error") {
          this.leave_app_status = "Error !";
          this.leave_app_desc =
            "Your leave application was not processed. Please check your fields / contact web team";
          this.leave_type_model = "";
          this.selectedPoc = [];
          this.dates = [];
          this.leave_message = "";
          this.loaderAnim = false;
          this.dialog = true;
        }
      } else {
        this.loaderAnim = false;
        this.leave_app_status = "Error !";
        this.leave_app_desc =
          "Your leave application was not processed. Please check your fields / contact web team";
        this.leave_type_model = "";
        this.selectedPoc = [];
        this.dates = [];
        this.leave_message = "";
        this.dialog = true;
      }
    },
    goHome() {
      this.$router.push("/dashboard");
    }
  },
  computed: {
    getusers() {
      var token = this.$store.state.token;
      axios
        .post("/api/users/get-all", { token })
        .then(response => {
          var user_emails = [];
          for (let i = 0; i < response.data.length; i++) {
            const userEmail = response.data[i].userEmail;
            user_emails.push(userEmail);
          }
          this.sb_users = user_emails;
          var arrayIndex = response.data
            .map(function(x) {
              return x.userEmail;
            })
            .indexOf(this.$store.state.user_email);
          this.gender = response.data[arrayIndex].gender;
          if (response.data[arrayIndex].gender == "Male") {
            this.leave_types.push("Paternity Leave");
          } else if (response.data[arrayIndex].gender == "Female") {
            this.leave_types.push("Maternity Leave");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getholidays() {
      axios
        .get("/api/public-holidays/get")
        .then(response => {
          var holidays = response.data;
          var holidays_array = [];
          if (holidays.length > 0) {
            for (let i = 0; i < holidays.length; i++) {
              holidays_array.push(holidays[i].date);
            }
          }
          this.public_holidays = holidays_array;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getPoc() {
      var token = this.$store.state.token;
      axios
        .post("/api/get-poc", { token })
        .then(response => {
          if (response.data != null || response.data != "") {
            this.selectedPoc = [response.data];
          }
          this.pocSelectLoader = false;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getMyLeaves() {
      var token = this.$store.state.token;
      this.$axios
        .post("/api/get-my-leave-dates", { token })
        .then(response => {
          this.lastLeaveRequest.type = response.data[0].leave_type;
          this.lastLeaveRequest.dates = response.data[0].leave_dates.join();
          this.lastLeaveRequest.status = response.data[0].leave_status;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getusers;
    this.getholidays;
    this.getPoc;
    this.getMyLeaves;
  },
  data: function() {
    return {
      lastLeaveRequest: {
        type: "",
        dates: "",
        status: ""
      },
      dates: [],
      select: null,
      sb_users: [],
      leave_types: [
        "Casual",
        "Sick",
        "Half Day",
        "Compensatory off",
        "Work From Home",
        "Block Leave",
        "Marriage Leave",
        "Sabbatical Leave"
      ],
      leave_type_model: "Casual",
      leave_message: "",
      selectedPoc: [],
      ajaxloader: false,
      leave_app_desc: "",
      leave_app_status: "",
      dialog: false,
      loaderAnim: false,
      public_holidays: [],
      pocSelectLoader: true,
      gender: ""
    };
  },

  watch: {
    multiple(val) {
      if (val) this.model = [this.model];
      else this.model = this.model[0];
    }
  }
};
</script>

<style>
#leave-date-picker .v-application .accent--text {
  color: #fff !important;
  caret-color: #fff !important;
}

#leave-date-picker .v-date-picker-table .v-btn.v-btn--active {
  background-color: #3c3c3c !important;
}

.event-square {
  width: 10px;
  height: 10px;
  background-color: #ffc107;
  border-radius: 50%;
  display: inline-block;
}

p.overline {
  display: inline;
}

.v-content {
  background-color: #1c2539 !important;
}

#leaveApplyCalendar button.v-btn.v-btn--rounded.v-btn--outlined.theme--dark {
  color: #fff !important;
  caret-color: #fff !important;
}

#leaveApplyCalendar .v-picker__body.theme--dark {
  background-color: #2b3449;
}
</style>
