<template>
  <v-container fluid>
    <v-col cols="12" md="12" xl="10" class="ml-auto mr-auto">
      <v-card color="#2B3449">
        <v-card-text>
          <v-simple-table id="leave-view-table" dark>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Leave Type</th>
                  <th class="text-left">Dates</th>
                  <th class="text-left">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in leaveDates"
                  :key="item._id"
                  :class="'animated l_r_c_' + index"
                >
                  <td>{{ item.leave_type}}</td>
                  <td>
                    <v-chip-group column>
                      <v-chip
                        :disabled="item.leave_status == 'Cancelled' ? true : false"
                        outlined
                        v-for="tag in item.leave_dates"
                        :key="tag"
                      >{{ tag }}</v-chip>
                    </v-chip-group>
                  </td>
                  <td>
                    <v-chip
                      outlined
                    >{{ item.isCancelProcess ? "Awaiting Cancellation" : item.leave_status }}</v-chip>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <!-- || item.isCancelProcess === true -->
                        <v-btn
                          @click="initLeaveCancel(item._id, item.leave_type, index,item.leave_status == 'Approved' ? true : false)"
                          color="red"
                          icon
                          :disabled="
                        item.leave_status == 'Cancelled' ||
                          item.leave_status == 'Rejected'
                      "
                          dark
                          v-on="on"
                        >
                          <v-icon>mdi-cancel</v-icon>
                        </v-btn>
                      </template>
                      <span>Cancel Leave</span>
                    </v-tooltip>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
      </v-card>
    </v-col>
    <v-dialog v-model="dialog" persistent max-width="375">
      <v-card>
        <v-card-title class="headline">Cancel Leave ?</v-card-title>
        <v-card-text>
          {{ leave_d_msg }}
          <v-textarea
            v-if="c_leave_meta.c_leave_status"
            solo
            v-model="c_leave_meta.c_leave_message"
            class="mt-4"
            name="input-7-4"
            label="Reason for cancelling the Leave"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1" text @click="dialog = false">No</v-btn>
          <v-btn color="green darken-1" text @click="cancel_leave = true">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-overlay v-model="leaveLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
export default {
  head() {
    return {
      link: [{ rel: "stylesheet", href: "/animate.css" }]
    };
  },
  layout: "default-new",
  middleware: "auth",
  asyncData(context) {
    return {
      username: context.store.state.user_name,
      user_avatar: context.store.state.avatar
    };
  },
  computed: {
    getLeaveRegister() {
      this.dateToday = this.$moment(this.$moment().toDate()).format(
        "YYYY-MM-DD"
      );
      var token = this.$store.state.token;
      axios
        .post("/api/leave/view-all", {
          token: token
        })
        .then(response => {
          this.leaveDates = response.data.leaveregister;
          this.leaveLoader = false;
        })
        .catch(error => {
          this.leaveLoader = false;
          console.log(error);
        });
    }
  },
  mounted() {
    this.getLeaveRegister;
  },
  data() {
    return {
      leaveLoader: true,
      username: "",
      user_avatar: "",
      leaveDates: [],
      dialog: false,
      cancel_leave: false,
      c_leave_meta: {
        c_leave_id: null,
        c_leave_index: null,
        c_leave_status: "",
        c_leave_message: ""
      },
      leave_d_msg: "",
      dateToday: ""
    };
  },
  watch: {
    cancel_leave(val) {
      if (val === true) {
        this.cancelLeave();
      }
    }
  },
  methods: {
    cancelLeave() {
      this.dialog = false;
      this.leaveLoader = true;
      var token = this.$store.state.token;
      var leave_id = this.c_leave_meta.c_leave_id;
      var index = this.c_leave_meta.c_leave_index;
      var leaveStatus = this.c_leave_meta.c_leave_status;
      if (!leaveStatus) {
        axios
          .post("/api/leave/cancel", {
            token,
            leave_id
          })
          .then(response => {
            if (response.data.cancelled === true) {
              this.dialog = false;
              this.leaveDates[index].leave_status = "Cancelled";
              var element = document.querySelector(".l_r_c_" + index);
              element.classList.add("shake");
              this.cancel_leave = false;
            }
            this.leaveLoader = false;
          })
          .catch(error => {
            console.log(error);
          });
      } else if (leaveStatus) {
        var leaveCMessage = this.c_leave_meta.c_leave_message;

        if (leaveCMessage == "") {
          return;
        }
        axios
          .post("/api/leave/cancel/approved", {
            token,
            leave_id,
            leaveStatus,
            cancellationMessage: leaveCMessage
          })
          .then(response => {
            console.log(response.data);
            this.leaveLoader = false;
            this.leaveDates[index].isCancelProcess = true;
            var element = document.querySelector(".l_r_c_" + index);
            element.classList.add("shake");
          })
          .catch(error => {
            console.log(error);
            this.leaveLoader = false;
          });
      }
    },
    initLeaveCancel(leaveid, leavetype, index, leaveStatus) {
      this.c_leave_meta.c_leave_id = leaveid;
      this.c_leave_meta.c_leave_index = index;
      this.c_leave_meta.c_leave_status = leaveStatus;
      if (leaveStatus) {
        this.leave_d_msg = `Are you sure want to cancel your ${leavetype} leave ? Please mention the reason for cancelling your leave - A confirmation email will be sent to your POC`;
      } else {
        this.leave_d_msg = `Are you sure want to cancel your ${leavetype} leave ?`;
      }
      this.dialog = true;
    }
  }
};
</script>


<style>
#leave-view-table.theme--dark.v-data-table {
  background-color: #2b3449 !important;
}
</style>