<template>
  <div>
    <v-col>
      <v-row>
        <v-col cols="12" md="6">
          <v-date-picker
            id="mark-leave-datepicker"
            :events="public_holidays"
            v-model="absentDate"
            :full-width="true"
            :show-current="true"
            color="#fff"
          ></v-date-picker>
        </v-col>
        <v-col cols="12" md="6">
          <v-combobox
            :loading="userLoader"
            v-model="userSelect"
            multiple
            :items="sb_users"
            chips
            label="Select Users"
          ></v-combobox>
          <v-textarea outlined name="leaveReason" rows="10" label="Reason" v-model="reason"></v-textarea>
          <div class="text-right">
            <v-btn @click="resetFileds" color="primary mr-2" dark>
              <v-icon>mdi-restart</v-icon>Reset Fields
            </v-btn>
            <v-btn @click="markAttendanceInit" color="success" dark>
              <v-icon>mdi-bookmark</v-icon>Mark Leave
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="12" md="8">
      <v-dialog v-model="dialog" persistent max-width="60%">
        <v-card>
          <v-card-title class="headline">Mark Attendance</v-card-title>
          <v-card-text>
            <p>Users</p>
            <v-chip
              :class="index == 0 ? '' : 'ml-2'"
              v-for="(user, index) in userSelect"
              :key="'absentUser'+index"
            >
              <v-icon left>mdi-account</v-icon>
              {{user}}
            </v-chip>
            <p class="my-2">Dates</p>
            <v-chip>
              <v-icon left>mdi-calendar</v-icon>
              {{absentDate}}
            </v-chip>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>

            <v-btn color="green darken-1" text @click="markAttendance">Agree</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="errorDialog" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">{{errorDialogTitle}}</v-card-title>
          <v-card-text v-html="errorDialogDesc"></v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="errorDialog = false">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
    <v-overlay v-model="leaveLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import axios from "axios";

export default {
  layout: "manager",
  middleware: "admin_manager_auth",
  data() {
    return {
      dialog: false,
      userLoader: false,
      leaveLoader: false,
      reason: `Leave marked by manager - ${this.$store.state.user_name}`,
      errorDialog: false,
      errorDialogDesc: "",
      errorDialogTitle: "",
      dialogTitle: "",
      dialogDesc: "",
      absentDate: "",
      public_holidays: [],
      sb_users: [],
      userSelect: ""
    };
  },
  methods: {
    markAttendanceInit() {
      var errorArray = [];
      if (this.userSelect == "" || this.userSelect.length == 0) {
        errorArray.push("Select Users");
      }
      if (this.absentDate == "") {
        errorArray.push("Select the date(s)");
      }
      if (errorArray.length > 0) {
        this.errorDialogTitle = "Error!";
        var html = "Please fix the following errors. <ul>";
        for (let i = 0; i < errorArray.length; i++) {
          const errMsg = errorArray[i];
          html += `<li>${errMsg}</li>`;
        }
        html += "</ul>";
        this.errorDialogDesc = html;
        return (this.errorDialog = true);
      }
      this.dialog = true;
    },
    resetFileds() {
      this.absentDate = "";
      this.userSelect = [];
    },
    markAttendance() {
      this.dialog = false;
      this.leaveLoader = true;
      var token = this.$store.state.token;
      var dates = this.absentDate;
      var users = this.userSelect;
      var reason = this.reason;
      axios
        .post("/api/employee/attendance/mark/many", {
          dates,
          users,
          reason,
          token
        })
        .then(response => {
          this.absentDate = "";
          this.userSelect = [];
          this.leaveLoader = false;
          this.errorDialogTitle = "Success!";
          this.errorDialogDesc = "Leave has been successfully marked !";
          this.errorDialog = true;
        })
        .catch(error => {
          this.leaveLoader = false;
          this.errorDialogTitle = "Error!";
          this.errorDialogDesc = "Something went wrong! Please try again later";
          this.errorDialog = true;
          console.log(error);
        });
    }
  },
  computed: {
    getusers() {
      this.userLoader = true;
      var token = this.$store.state.token;
      axios
        .post("/api/get/team/users", { token })
        .then(response => {
          var user_emails = [];
          for (let i = 0; i < response.data.length; i++) {
            const userEmail = response.data[i].userEmail;
            user_emails.push(userEmail);
          }
          this.sb_users = user_emails;
          this.userLoader = false;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getholidays() {
      axios
        .get("/api/public-holidays/get")
        .then(response => {
          var holidays = response.data;
          var holidays_array = [];
          if (holidays.length > 0) {
            for (let i = 0; i < holidays.length; i++) {
              holidays_array.push(holidays[i].date);
            }
          }
          this.public_holidays = holidays_array;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getusers;
    this.getholidays;
  }
};
</script>

<style>
#mark-leave-datepicker,
#mark-leave-datepicker .v-picker__title,
#mark-leave-datepicker .v-picker__body .theme--dark {
  background-color: #2b3449 !important;
}

.v-content {
  background-color: #1c2539 !important;
}
</style>