<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="4">
          <v-card
            color="#2B3449"
            to="/manager/attendance/view"
            class="text-center"
          >
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block">mdi-book-open-variant</v-icon>
              <h4>Leave Register</h4>
            </v-card-text>
          </v-card>
          <v-card
            class="mt-4 text-center"
            color="#2B3449"
            to="/manager/attendance/mark"
          >
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block">mdi-calendar</v-icon>
              <h4>Public Holidays</h4>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card
            color="#2B3449"
            to="/manager/attendance/mark"
            class="text-center"
          >
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block"
                >mdi-checkbox-marked-circle-outline</v-icon
              >
              <h4>Mark Leave</h4>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card
            color="#2B3449"
            class="mx-auto fill-height card-border"
            width="100%"
          >
            <v-card-title class="text-center subtitle-1 justify-center"
              >MONTHLY REPORT - {{ currentMonth }}</v-card-title
            >
            <v-card-text>
              <div class="text-center">
                <v-progress-circular
                  :size="70"
                  :width="7"
                  :indeterminate="notatworkloader"
                  color="red"
                  >{{ notatworkValue }}</v-progress-circular
                >
              </div>
              <v-list v-if="!notatworkloader" color="#2B3449">
                <template v-for="(item, index) in monthlyData">
                  <v-subheader
                    v-if="item.header"
                    :key="item.header"
                    v-text="item.header"
                  ></v-subheader>

                  <v-divider
                    v-else-if="item.divider"
                    :key="index"
                    :inset="item.inset"
                  ></v-divider>

                  <v-list-item v-else :key="item.userEmail">
                    <v-list-item-avatar>
                      <v-img :src="item.profile_pic"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="
                          `<span class='text--primary'>${item.name}</span> &mdash; ${item.userEmail}`
                        "
                      ></v-list-item-title>
                      <v-list-item-subtitle>
                        <v-chip x-small color="#141c2d" text-color="white"
                          >Leave Count - {{ item.count }}</v-chip
                        >
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  middleware: "admin_manager_auth",
  data() {
    return {
      dialog: true,
      notatworkloader: true,
      notatworkValue: 0,
      notatworkloaderType: "error",
      monthlyData: [],
      currentMonth: this.$moment()
        .format("MMMM")
        .toUpperCase()
    };
  },
  computed: {
    getMonthlyReport() {
      var token = this.$store.state.token;
      var finalData = [];
      this.$axios
        .post("/api/manager/get-monthly-report", { token })
        .then(response => {
          var leaveUsers = response.data;
          const unique = [...new Set(leaveUsers.map(item => item.userEmail))];
          for (let i = 0; i < unique.length; i++) {
            const unUser = unique[i];
            var unUserCounter = 0;
            var profile_pic = "";
            var name = "";
            for (let j = 0; j < leaveUsers.length; j++) {
              const lvUser = leaveUsers[j];
              if (lvUser.userEmail == unUser) {
                unUserCounter++;
                profile_pic = lvUser.picture;
                name = lvUser.userName;
              }
            }
            finalData.push({
              userEmail: unUser,
              count: unUserCounter,
              profile_pic,
              name
            });
          }
          this.monthlyData = finalData;
          this.notatworkloader = false;
          this.notatworkValue = finalData.length;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getMonthlyReport;
  },
  methods: {}
};
</script>

<style>
.v-content {
  background-color: #1c2539 !important;
}
</style>
