<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="4">
          <v-card color="#2B3449" to="/admin/leave/view" class="text-center">
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block">mdi-book-open-variant</v-icon>
              <h4>Leave Register</h4>
            </v-card-text>
          </v-card>
          <v-card class="mt-4 text-center" color="#2B3449" to="/admin/public-holidays">
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block">mdi-calendar</v-icon>
              <h4>Public Holidays</h4>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card color="#2B3449" to="/admin/leave/mark" class="text-center">
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block">mdi-checkbox-marked-circle-outline</v-icon>
              <h4>Mark Leave</h4>
            </v-card-text>
          </v-card>
          <v-card color="#2B3449" to="/admin/manage/users" class="mt-4 text-center">
            <v-card-text class="justify-center title white--text">
              <v-icon class="d-block">mdi-account-group-outline</v-icon>
              <h4>Manage Users</h4>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card color="#2B3449" class="mx-auto fill-height card-border" width="100%">
            <v-card-title class="text-center subtitle-1 justify-center">
              MONTHLY REPORT - {{currentMonth}}
              <v-btn @click="initReportDownload" icon class="ml-2">
                <v-icon>mdi-download</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <div class="text-center">
                <v-progress-circular
                  :size="70"
                  :width="7"
                  :indeterminate="notatworkloader"
                  color="red"
                >{{ notatworkValue }}</v-progress-circular>
              </div>
              <v-list v-if="!notatworkloader" color="#2B3449">
                <template v-for="(item, index) in monthlyData">
                  <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

                  <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

                  <v-list-item v-else :key="item.email">
                    <v-list-item-avatar>
                      <v-img :src="item.picture"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-html="
                          `<span class='text--primary'>${item.name}</span> &mdash; ${item.email}`
                        "
                      ></v-list-item-title>
                      <v-list-item-subtitle>
                        <v-chip
                          x-small
                          color="#141c2d"
                          text-color="white"
                        >Leave Count - {{ item.count }}</v-chip>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </template>
              </v-list>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="reportDialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Report Year & Date</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="generateMonthReport.month"
                  :items="['01','02','03','04','05','06','07','08','09','10','11','12']"
                  label="Month*"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-autocomplete v-model="generateMonthReport.year" :items="['2020']" label="Year*"></v-autocomplete>
              </v-col>
              <small>*indicates required field</small>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="dialog = false">Cancel</v-btn>
          <v-btn color="white" text @click="generateMonthlyReport">Generate Report</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="loaderDialog.show" hide-overlay persistent width="300">
      <v-card :color="loaderDialog.color" dark>
        <v-card-text>
          {{loaderDialog.text}}
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  middleware: "admin_auth",
  data() {
    return {
      dialog: true,
      reportDialog: false,
      notatworkloader: true,
      loaderDialog: {
        show: false,
        text: "You will get an email shortly with the generated report",
        color: "primary"
      },
      notatworkValue: 0,
      notatworkloaderType: "error",
      generateMonthReport: {
        month: "",
        year: ""
      },
      monthlyData: [],
      currentMonth: this.$moment()
        .format("MMMM")
        .toUpperCase()
    };
  },
  computed: {
    getMonthlyReport() {
      var token = this.$store.state.token;
      var finalData = [];
      this.$axios
        .post("/api/get-monthly-report", {
          token,
          month: this.$moment().format("MM")
        })
        .then(response => {
          var finalData = response.data;
          console.log(finalData);
          this.monthlyData = finalData;
          this.notatworkloader = false;
          this.notatworkValue = finalData.length;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getMonthlyReport;
  },
  methods: {
    initReportDownload() {
      this.reportDialog = true;
    },
    generateMonthlyReport() {
      if (
        this.generateMonthReport.month == "" ||
        this.generateMonthReport.year == ""
      ) {
        alert("Select the required fields");
        return;
      }
      this.reportDialog = false;
      this.loaderDialog.show = true;
      var token = this.$store.state.token;
      this.$axios
        .post("/api/download-monthly-report", {
          token,
          month: this.generateMonthReport.month,
          year: this.generateMonthReport.year
        })
        .then(response => {
          console.log(response.data);
          this.loaderDialog.text =
            "You will get an email shortly with the generated report";
          this.loaderDialog.color = "success";
        })
        .catch(error => {
          this.loaderDialog.text = "Error generating report. Please try again";
          this.loaderDialog.color = "error";
        });
    }
  }
};
</script>

<style>
.v-content {
  background-color: #1c2539 !important;
}
</style>