<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="6">
          <v-card color="#2B3449">
            <v-card-title>Add Public Holidays</v-card-title>
            <v-card-text>
              <v-col cols="12">
                <v-text-field outlined v-model="leaveTitle" label="Leave Title" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-select
                  class="mt-4"
                  :items="['Bangalore','Chennai','Mumbai','Gurgaon']"
                  label="Select Cities"
                  multiple
                  v-model="leaveCities"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-date-picker
                  id="leaveApplyCalendar"
                  full-width
                  v-model="holidayDate"
                  :events="upcoming_holidays"
                  color="#2B3449"
                ></v-date-picker>
              </v-col>
              <v-col cols="12" class="text-center">
                <v-btn @click="addPublicHoliday">Add Public Holiday</v-btn>
              </v-col>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card color="#2B3449">
            <v-card-title>Public Holidays</v-card-title>
            <v-card-text>
              <v-skeleton-loader
                :loading="loadHolidays"
                transition="scale-transition"
                height="74"
                type="list-item-two-line"
              >
                <v-list color="#2B3449" three-line>
                  <template v-for="(item, index) in upcoming_holidays">
                    <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

                    <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

                    <v-list-item v-else :key="item.id">
                      <v-list-item-content>
                        <v-list-item-title v-html="item.title"></v-list-item-title>
                        <v-list-item-subtitle
                          v-html="
                            `<span class='text--primary'> ${item.date} &mdash; ${item.city}`
                          "
                        ></v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-list>
              </v-skeleton-loader>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      leaveTitle: "",
      leaveCities: [],
      holidayDate: "",
      upcoming_holidays: [],
      loadHolidays: true
    };
  },
  methods: {
    addPublicHoliday() {
      var leaveCitiesArray = [];
      for (let i = 0; i < this.leaveCities.length; i++) {
        const leaveCity = this.leaveCities[i];
        leaveCitiesArray.push({ city: leaveCity });
      }
      this.$axios
        .post("/api/public-holidays/add", {
          name: this.leaveTitle,
          location: leaveCitiesArray,
          date: this.holidayDate
        })
        .then(response => {
          console.log("Leave Data");
          this.upcoming_holidays.push({
            id: response.data._id,
            title: response.data.name,
            date: response.data.date,
            city: this.leaveCities.join()
          });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getHolidays;
  },
  computed: {
    getHolidays() {
      this.$axios
        .get("/api/public-holidays/get")
        .then(response => {
          var upcoming_holidays_counter = 0;
          for (let i = 0; i < response.data.length; i++) {
            const leaveObj = response.data[i];
            const holiday_location = [];
            for (let o = 0; o < response.data[i].location.length; o++) {
              const location = response.data[i].location[o].city;
              holiday_location.push(location);
            }
            this.upcoming_holidays.push({
              id: response.data[i]._id,
              title: response.data[i].name,
              date: response.data[i].date,
              city: holiday_location.join()
            });

            if (
              upcoming_holidays_counter % 1 === 0 &&
              upcoming_holidays_counter != 3
            ) {
              this.upcoming_holidays.push({ divider: true, inset: true });
            }

            upcoming_holidays_counter++;
          }
          this.loadHolidays = false;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style>
.theme--dark.v-card {
  background-color: #424242;
  color: #ffffff;
}
</style>