<template>
  <div>
    <v-container fluid>
      <v-card color="#2B3449">
        <v-card-title>
          {{userDetails.userName}}
          <v-avatar class="ml-3" color="teal" size="48">
            <v-img :src="userDetails.teamPicture"></v-img>
          </v-avatar>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="3" class="align-self-center">
              <v-text-field
                label="Email"
                v-model="userDetails.userEmail"
                outlined
                dense
                disabled
                readonly
              ></v-text-field>
            </v-col>
            <v-col cols="3" class="align-self-center">
              <v-select
                dense
                v-model="userDetails.userDesignation"
                :items="[
                  'Head',
                  'Co-Founder',
                  'EVP',
                  'AVP',
                  'Sr Manager',
                  'Manager',
                  'Lead',
                  'Sr Associate',
                  'Associate'
                ]"
                label="Designation"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="3" class="align-self-center">
              <v-text-field
                label="Designation Text"
                v-model="userDetails.userDesignationText"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="3" class="align-self-center">
              <v-select
                :items="[
                  'Web',
                  'Design',
                  'Video',
                  'SEO',
                  'Content',
                  'Analytics',
                  'Ads',
                  'Social Media',
                  'Product',
                  'Business Development',
                  'Creative',
                  'HR',
                  'Accounts'
                ]"
                v-model="userDetails.userTeam"
                label="Team"
                dense
                outlined
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="align-self-center">
              <v-text-field label="Employee ID" v-model="userDetails.employeeID" outlined dense></v-text-field>
            </v-col>
            <v-col cols="3" class="align-self-center">
              <v-dialog
                ref="joiningDateDialog"
                v-model="modal.joiningDate"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    outlined
                    v-model="userDetails.settings[0].doj"
                    label="Joining Date"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="userDetails.settings[0].doj" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal.joiningDate = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.joiningDateDialog.save(date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col cols="3" class="align-self-center">
              <v-dialog
                ref="modalExitDateDialog"
                v-model="modal.exitDate"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    outlined
                    v-model="userDetails.exitDate"
                    label="Exit Date"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="userDetails.exitDate" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal.exitDate = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.modalExitDateDialog.save(date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col cols="3" class="align-self-center">
              <v-select
                dense
                v-model="userDetails.gender"
                :items="['Male','Female']"
                label="Gender"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="6" class="align-self-center">
              <v-textarea
                height="200"
                outlined
                v-model="userDetails.userWriteUp"
                name="input-7-4"
                label="About Me"
                :value="userDetails.userWriteUp"
              ></v-textarea>
            </v-col>
            <v-col cols="6">
              <v-combobox
                v-model="userDetails.teamClass"
                :items="[
                  'social',
                  'media-planning',
                  'video',
                  'technology',
                  'strategy',
                  'seo-content',
                  'design',
                  'hr-finance'
                ]"
                label="Team Page Separation"
                multiple
                chips
              >
                <template v-slot:selection="data">
                  <v-chip
                    :key="JSON.stringify(data.item)"
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    :disabled="data.disabled"
                    @click:close="data.parent.selectItem(data.item)"
                  >
                    <v-avatar
                      class="accent white--text"
                      left
                      v-text="data.item.slice(0, 1).toUpperCase()"
                    ></v-avatar>
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn @click="updateUser" color="success">Update User</v-btn>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-container>
    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{dialog.title}}</v-card-title>
        <v-card-text>{{dialog.text}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="reloadPage">Reload</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="loaderDialog" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Please stand by
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  asyncData({ params, redirect, query }) {
    let userID = params.userID;
    let teamPageID = query.teamID;

    if (!userID || !teamPageID) {
      return redirect("/admin/manage/users/");
    }
    return {
      userID,
      teamPageID
    };
  },
  data() {
    return {
      userID: "",
      teamPageID: "",
      joiningDateDialog: false,
      exitDateDialog: false,
      dialog: {
        show: false,
        title: "",
        text: ""
      },
      loaderDialog: false,
      date: {
        joiningDate: "",
        exitDate: ""
      },
      modal: {
        joiningDate: false,
        exitDate: false
      },
      modalExitDate: false,
      userDetails: {
        userName: "",
        userEmail: "",
        userTeam: "",
        userWriteUp: "",
        userDesignation: "",
        userDesignationText: "",
        picture: "",
        employeeID: "",
        settings: [{}],
        gender: "",
        teamClass: ""
      }
    };
  },
  computed: {
    getUserData() {
      this.$axios
        .post("/api/users/get-user-by-id", {
          userID: this.userID,
          teamPageID: this.teamPageID
        })
        .then(response => {
          console.log(response.data);
          let userDetails = {
            userName: response.data.userName,
            userEmail: response.data.userEmail,
            userTeam: response.data.userTeam,
            userWriteUp: response.data.userWriteUp,
            userDesignation: response.data.userDesignation,
            userDesignationText: response.data.userDesignationText,
            picture: response.data.picture,
            employeeID: response.data.employeeID,
            exitDate: response.data.exitDate,
            gender: response.data.gender,
            teamClass: response.data.teamClass,
            teamPicture: response.data.teamPicture
          };
          if (response.data.settings) {
            if (response.data.settings[0]) {
              userDetails.settings = response.data.settings;
            } else {
              userDetails.settings = [
                {
                  doj: ""
                }
              ];
            }
          } else {
            userDetails.settings = [
              {
                doj: ""
              }
            ];
          }
          this.userDetails = userDetails;
          console.log(userDetails);
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getUserData;
  },
  methods: {
    updateUser() {
      this.loaderDialog = true;
      console.log("Updating user");
      console.log("User ID", this.userID);
      console.log("Team Page ID", this.teamPageID);
      console.log(this.userDetails);
      this.$axios
        .post("/api/user/update-full-profile", {
          userID: this.userID,
          teamID: this.teamPageID,
          userDetails: this.userDetails
        })
        .then(response => {
          this.loaderDialog = false;
          console.log(response.data);
          this.dialog.title = "Updated";
          this.dialog.text =
            "Profile has been successfully updated. Please reload to see the changes";
          this.dialog.show = true;
        })
        .catch(error => {
          this.loaderDialog = false;
          this.dialog.title = "Error";
          this.dialog.text =
            "There was an error updating the profile. Please contact tech team";
          this.dialog.show = true;
          console.log(error);
        });
    },
    reloadPage() {
      window.location.reload();
    }
  }
};
</script>

<style>
.v-text-field__details {
  display: none !important;
  padding: 0 !important;
}
</style>