<template>
  <div>
    <v-container fluid>
      <v-card color="#2B3449">
        <v-card-title class="title">
          Users
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table :loading="tableLoading" :headers="headers" :items="users" :search="search">
          <template v-slot:item.userName="{ item }">
            <span>
              {{item.userName}}
              <v-chip small color="error" v-if="!item.teamProfile">Team profile NA</v-chip>
            </span>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-tooltip v-if="item.teamProfile" bottom>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" @click="editUser(item)" icon>
                  <v-icon color="white">mdi-account-edit</v-icon>
                </v-btn>
              </template>
              <span>Edit User</span>
            </v-tooltip>
            <v-tooltip v-else bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  @click="$router.push(`/admin/manage/users/create-profile/${item._id}`)"
                  v-on="on"
                  icon
                >
                  <v-icon color="white">mdi-account-plus-outline</v-icon>
                </v-btn>
              </template>
              <span>Add user profile</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" @click="deleteUser(item)" icon>
                  <v-icon color="white">mdi-trash-can-outline</v-icon>
                </v-btn>
              </template>
              <span>Delete User</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { text: "Name", value: "userName" },
        { text: "Email", value: "userEmail" },
        { text: "Designation", value: "userDesignation" },
        { text: "Team", value: "userTeam" },
        { text: "Actions", value: "actions" }
      ],
      users: [],
      search: "",
      tableLoading: true
    };
  },
  methods: {
    editUser(user) {
      if (user) {
        this.$router.push(
          `/admin/manage/users/${user._id}?teamID=${user.teamID}`
        );
      }
    },
    deleteUser(user) {
      if (
        confirm(
          "Deleting user will remove their Leave Data and their profile from the team page. Do you wish to continue?"
        )
      ) {
        let userID = user._id;
        let isTeamProfile = user.teamProfile;
        let userEmail = user.userEmail;
        if (user.teamProfile) {
          let teamID = user.teamID;
          var userData = {
            userID,
            isTeamProfile,
            teamID,
            userEmail
          };
        } else {
          var userData = {
            userID,
            isTeamProfile,
            userEmail
          };
        }
        console.log(userData);

        this.$axios
          .post("/api/delete/user", userData)
          .then(response => {
            console.log(response.data);
            var arrayIndex = this.users
              .map(function(x) {
                return x.userEmail;
              })
              .indexOf(userEmail);
            this.users.splice(arrayIndex, 1);
          })
          .catch(error => {
            console.log(error);
          });
      }
    }
  },
  computed: {
    getUsers() {
      this.$axios
        .post("/api/users/get-users-team")
        .then(response => {
          console.log(response.data);
          this.users = response.data;
          this.tableLoading = false;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getUsers;
  }
};
</script>

<style>
thead,
tbody {
  background-color: #2b3449;
}
</style>