<template>
  <v-col cols="12">
    {{$moment("2020-03-23, 10:37:23 am", "YYYY-MM-DD, h:mm:ss a").fromNow()}}
    <v-alert prominent border="left" transition="slide-x-transition" type="success">
      <v-row align="center">
        <v-col cols="9" :class="alert.class">{{alert.text}}</v-col>
        <v-col cols="3">
          <v-btn @click="takeBreak" :color="button.type">{{button.text}}</v-btn>
        </v-col>
      </v-row>
    </v-alert>
  </v-col>
</template>

<script>
export default {
  data() {
    return {
      button: {
        text: "",
        disabled: true,
        type: ""
      },
      isTimer: false,
      alert: {
        type: "",
        text: "",
        icon: "",
        class: ""
      }
    };
  },
  mounted() {
    this.setTimerState;
  },
  computed: {
    setTimerState() {
      var timerState = this.$store.state.timer.status;
      if (timerState) {
        var startTime = this.$store.state.timer.startTime;
      } else {
        this.button.text = "Take Break";
        this.button.disabled = false;
        this.button.type = "black";
        this.alert.text =
          "Please press the button when you take a break. It will help the team to coordinate with you in a better way. Thank You!";
        this.alert.type = "warning";
        this.alert.class = "black--text";
      }
    }
  },
  methods: {
    takeBreak() {
      var currentDate = this.$moment().format("YYYY-MM-DD, h:mm:ss a");
      console.log(currentDate);
    }
  }
};
</script>