<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="600">
      <v-card>
        <v-card-title class="title"
          >How do you feel about this month?</v-card-title
        >
        <v-card-text>
          <v-row>
            <v-col cols="12" class="text-center" md="4">
              <v-btn @click="feedback = 'Great'" icon>
                <v-icon
                  :color="feedback == 'Great' ? 'success' : 'white'"
                  x-large
                  >mdi-emoticon-excited-outline</v-icon
                >
              </v-btn>
              <p class="mt-2 subtitle-1 mb-0 font-weight-bold">I feel great</p>
            </v-col>
            <v-col cols="12" class="text-center" md="4">
              <v-btn @click="feedback = 'Okay'" icon>
                <v-icon
                  :color="feedback == 'Okay' ? 'warning' : 'white'"
                  x-large
                  >mdi-emoticon-neutral-outline</v-icon
                >
              </v-btn>
              <p class="mt-2 subtitle-1 mb-0 font-weight-bold">
                It's been okay
              </p>
            </v-col>
            <v-col cols="12" class="text-center" md="4">
              <v-btn @click="feedback = 'Not Okay'" icon>
                <v-icon
                  :color="feedback == 'Not Okay' ? 'error' : 'white'"
                  x-large
                  >mdi-emoticon-sad-outline</v-icon
                >
              </v-btn>
              <p class="mt-2 subtitle-1 mb-0 font-weight-bold">
                Not the best time
              </p>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            @click="submitFeedback"
            :disabled="feedback == ''"
            color="success"
            >Submit Feedback</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar top :color="snackColor" v-model="snackbar">
      {{ text }}
      <v-btn color="red" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      feedback: "",
      snackbar: false,
      text: "",
      snackColor: ""
    };
  },
  computed: {
    checkFeedbackStatus() {
      this.$axios
        .post("/api/feedback/check-monthly-feedback", {
          email: this.$store.state.user_email
        })
        .then(response => {
          if (response.data.isFeedback) {
            this.dialog = false;
          } else {
            this.dialog = true;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  methods: {
    submitFeedback() {
      this.$axios
        .post("/api/feedback/record-feedback", {
          feedback: this.feedback,
          email: this.$store.state.user_email
        })
        .then(response => {
          this.snackColor = "success";
          this.text = "Feedback submitted successfully";
          this.dialog = false;
          this.snackbar = true;
        })
        .catch(error => {
          console.log(error);
          this.snackColor = "error";
          this.text = "Error submitting feedback. Try again";
          this.dialog = false;
          this.snackbar = true;
        });
    }
  },
  mounted() {
    this.checkFeedbackStatus;
  }
};
</script>
