<template>
  <v-card color="#2B3449" class="mx-auto card-border" width="100%">
    <v-card-title class="text-center subtitle-1 justify-center">LEAVE SUMMARY</v-card-title>
    <v-card-text id="leave-counter-text-wrapper" class="mx-auto">
      <DoughnutChart
        :width="320"
        :data="chartData"
        :chartData="chartData"
        :options="{
          maintainAspectRatio: false,
          responsive: true,
          legend: { display: false },
          segmentShowStroke: false
        }"
      />
      <p
        class="my-0 py-0 title leave-counter-text font-weight-black white--text"
      >{{ leave_counter_text }} / {{ totalLeaveCount }}</p>
    </v-card-text>
    <v-card-actions class="text-center pb-4 justify-center">
      <v-btn @click="$router.push('/leave/apply')" large outlined>Apply Leave</v-btn>
      <v-btn @click="$router.push('/leave/view')" large outlined>View All</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import DoughnutChart from "./doughnut-chart";

export default {
  data() {
    return {
      leave_counter_text: "",
      chartData: {
        labels: [],
        datasets: [
          {
            label: "",
            backgroundColor: [],
            data: []
          }
        ]
      },
      totalLeaveCount: 0
    };
  },
  components: {
    DoughnutChart
  },
  computed: {
    getLeaveSummary() {
      this.$axios
        .post("/api/leave/view-all", { token: this.$store.state.token })
        .then(response => {
          console.log(response.data);
          this.leave_counter_text = response.data.leave_count;
          var holidayData = response.data.holidays;
          var leaveEdata = response.data.leaveregister;
          var leaveEdataArray = [];
          var holidays = [];
          var upcoming_holidays = [];
          var leaveTypes = [];
          var leaveCounters = [];
          var isCarryForward = response.data.isCarryBlockLeave;
          var totalAllowedDays = 24;
          if (isCarryForward) {
            totalAllowedDays = totalAllowedDays + 6;
          }
          for (let i = 0; i < leaveEdata.length; i++) {
            leaveTypes.push(leaveEdata[i].leave_type);
          }
          let leaveLabels = [...new Set(leaveTypes)];
          for (let k = 0; k < leaveLabels.length; k++) {
            const label = leaveLabels[k];
            const thisLeaveCount = 0;
            leaveEdata.map(function(leaveObj) {
              if (leaveObj.leave_type == label) {
                if (
                  leaveObj.leave_status == "Applied" ||
                  leaveObj.leave_status == "Approved"
                ) {
                  var dateCount = leaveObj.leave_dates.length;
                  thisLeaveCount = thisLeaveCount + dateCount;
                }
              }
            });
            leaveCounters.push(thisLeaveCount);
          }
          leaveLabels.push("Remaining");
          leaveCounters.push(totalAllowedDays - response.data.leave_count);

          var chartData = {
            labels: leaveLabels,
            datasets: [
              {
                label: "Leave Data",
                backgroundColor: [
                  "#28B88D",
                  "#19657D",
                  "#141C2D",
                  "#8ACBDF",
                  "#0d131c",
                  "#D9FF00",
                  "#ee2525",
                  "#ee2525",
                  "#8ACBDF"
                ],
                data: leaveCounters,
                borderWidth: 0
              }
            ]
          };
          this.chartData = chartData;
          this.totalLeaveCount = totalAllowedDays;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getLeaveSummary;
  }
};
</script>
