<template>
  <div>
    <v-card color="#2B3449" class="mx-auto card-border" width="100%">
      <v-date-picker
        id="upcoming-holidays"
        readonly
        :events="public_holidays"
        width="100%"
        color="#2B3449"
      ></v-date-picker>
    </v-card>

    <v-card color="#2B3449" class="mx-auto card-border mt-4 pb-3" width="100%">
      <v-card-title class="text-center subtitle-1 justify-center">3 UPCOMING HOLIDAYS</v-card-title>
      <v-card-text>
        <v-skeleton-loader
          :loading="holidaysloading"
          transition="scale-transition"
          height="74"
          type="list-item-two-line"
        >
          <v-list color="#2B3449" three-line>
            <template v-for="(item, index) in upcoming_holidays">
              <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

              <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>

              <v-list-item v-else :key="item.id">
                <v-list-item-content>
                  <v-list-item-title v-html="item.title"></v-list-item-title>
                  <v-list-item-subtitle
                    v-html="
                            `<span class='text--primary'> ${item.date} &mdash; ${item.cities}`
                          "
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-skeleton-loader>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      upcoming_holidays: [],
      public_holidays: [],
      holidaysloading: true
    };
  },
  components: {
    VBoilerplate: {
      functional: true,
      render(h, { data, props, children }) {
        return h(
          "v-skeleton-loader",
          {
            ...data,
            props: {
              boilerplate: true,
              elevation: 2,
              ...props
            }
          },
          children
        );
      }
    }
  },
  computed: {
    getUpcomingHolidays() {
      axios
        .all([
          axios.post("/api/get-public-holidays", {
            token: this.$store.state.token,
            limit: 3,
            fromToday: true
          }),
          axios.post("/api/get-public-holidays", {
            token: this.$store.state.token
          })
        ])
        .then(response => {
          var upcomingLimitedHoldiays = response[0].data.holidays;
          var publicHolidays = response[1].data.holidays;
          var upcomingLimitedHoldiaysArray = [];

          for (let i = 0; i < upcomingLimitedHoldiays.length; i++) {
            const holidayObj = upcomingLimitedHoldiays[i];
            const title = holidayObj.name;
            const date = holidayObj.date;
            var cities = [];
            for (let j = 0; j < holidayObj.location.length; j++) {
              const cityObj = holidayObj.location[j];
              const cityName = cityObj.city;
              cities.push(cityName);
            }
            upcomingLimitedHoldiaysArray.push({
              title,
              date,
              cities: cities.join()
            });
          }
          this.upcoming_holidays = upcomingLimitedHoldiaysArray;
          this.holidaysloading = false;

          var publicHolidayArray = [];
          for (let k = 0; k < publicHolidays.length; k++) {
            const pubHoliday = publicHolidays[k];
            publicHolidayArray.push(pubHoliday.date);
          }
          this.public_holidays = publicHolidayArray;
        })
        .catch(erorr => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getUpcomingHolidays;
  }
};
</script>