<template>
  <v-card color="#2B3449" class="mx-auto card-border" width="100%">
    <v-card-title class="text-center subtitle-1 justify-center">WHO'S NOT AT WORK</v-card-title>
    <v-card-text>
      <div class="text-center">
        <v-progress-circular
          :size="70"
          :width="7"
          :indeterminate="notatworkloader"
          color="red"
        >{{ notatworkValue }}</v-progress-circular>
      </div>
      <v-list v-if="!notatworkloader" color="#2B3449">
        <template v-for="(item, index) in onLeaveItemsNew">
          <v-subheader v-if="item.header" :key="item.header" v-text="item.header"></v-subheader>

          <v-divider v-else-if="item.divider" :key="index" :inset="item.inset"></v-divider>
          <v-list-item v-else :key="item.userEmail">
            <v-list-item-avatar>
              <v-img :src="item.picture"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title
                v-html="
                          `<span class='text--primary'>${item.userName}</span> &mdash; ${item.userEmail}`
                        "
              ></v-list-item-title>
              <v-list-item-subtitle>
                <v-chip x-small color="#141c2d" text-color="white">
                  {{
                  item.leaveType
                  }}
                </v-chip>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      onLeaveItemsNew: [],
      notatworkloader: true,
      notatworkValue: 0
    };
  },
  computed: {
    getWhoNotAtWork() {
      this.$axios
        .post("/api/who-is-not-at-work")
        .then(response => {
          console.log(response.data);
          this.onLeaveItemsNew = response.data;
          this.notatworkloader = false;
          this.notatworkValue = response.data.length;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getWhoNotAtWork;
  }
};
</script>