<template>
  <div>
    <v-container fluid>
      <v-card color="#2B3449">
        <v-card-title class="subtitle-1">{{userDetails.userName}} - {{userDetails.userEmail}}</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="4" class="align-self-center">
              <v-dialog
                ref="joiningDateDialog"
                v-model="modal.joiningDate"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    outlined
                    v-model="userDetails.settings[0].doj"
                    label="Joining Date"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="userDetails.settings[0].doj" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal.joiningDate = false">Cancel</v-btn>
                  <v-btn text color="primary" @click="$refs.joiningDateDialog.save(date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col cols="4" class="align-self-center">
              <v-select
                :items="[
                  'Web',
                  'Design',
                  'Video',
                  'SEO',
                  'Content',
                  'Analytics',
                  'Ads',
                  'Social Media',
                  'Product',
                  'Business Development',
                  'Creative',
                  'HR',
                  'Accounts'
                ]"
                v-model="userDetails.userTeam"
                label="Team"
                dense
                outlined
              ></v-select>
            </v-col>
            <v-col cols="4" class="align-self-center">
              <v-select
                dense
                v-model="userDetails.userDesignation"
                :items="[
                  'Head',
                  'Co-Founder',
                  'EVP',
                  'AVP',
                  'Sr Manager',
                  'Manager',
                  'Lead',
                  'Sr Associate',
                  'Associate'
                ]"
                label="Designation"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="4" class="align-self-center">
              <v-text-field
                label="Designation Text"
                v-model="userDetails.userDesignationText"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="8">
              <v-combobox
                outlined
                dense
                v-model="userDetails.teamClass"
                :items="[
                  'social',
                  'media-planning',
                  'video',
                  'technology',
                  'strategy',
                  'seo-content',
                  'design',
                  'hr-finance'
                ]"
                label="Team Page Separation"
                multiple
                chips
              >
                <template v-slot:selection="data">
                  <v-chip
                    :key="JSON.stringify(data.item)"
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    :disabled="data.disabled"
                    @click:close="data.parent.selectItem(data.item)"
                  >
                    <v-avatar
                      class="accent white--text"
                      left
                      v-text="data.item.slice(0, 1).toUpperCase()"
                    ></v-avatar>
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="4" class="align-self-center">
              <v-file-input outlined v-model="profile_pic" small-chips label="Team Profile Picture"></v-file-input>
            </v-col>
            <v-col cols="6" class="align-self-center">
              <v-textarea
                height="200"
                outlined
                v-model="userDetails.userWriteUp"
                name="input-7-4"
                label="About Me"
                :value="userDetails.userWriteUp"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createTeamProfile" color="success">Create Team Profile</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-container>
    <v-dialog v-model="loaderDialog" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text>
          Please stand by
          <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{dialog.title}}</v-card-title>
        <v-card-text>{{dialog.text}}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="reloadPage">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  asyncData({ route, store, env, params, redirect }) {
    let userID = params.userID;
    if (!userID) {
      return redirect("/admin/manage/users");
    }
    return {
      userID
    };
  },
  data() {
    return {
      userID: "",
      profile_pic: [],
      dialog: {
        show: false,
        title: "",
        text: ""
      },
      loaderDialog: false,
      date: {
        joiningDate: "",
        exitDate: ""
      },
      modal: {
        joiningDate: false,
        exitDate: false
      },
      userDetails: {
        userID: "",
        userName: "",
        userEmail: "",
        userTeam: "",
        userWriteUp: "",
        userDesignation: "",
        userDesignationText: "",
        picture: "",
        employeeID: "",
        settings: [
          {
            doj: ""
          }
        ],
        gender: "",
        teamClass: []
      }
    };
  },
  methods: {
    createTeamProfile() {
      this.loaderDialog = true;
      this.$axios
        .post("/api/user/create-team-profile", {
          userDetails: this.userDetails
        })
        .then(response => {
          console.log(response.data);
          this.updateProfilePic(response.data);
        })
        .catch(error => {
          console.log(error);
          alert("Coulnd't save the data. Contact Tech team");
        });
    },
    updateProfilePic(teamID) {
      var userPic = new FormData();
      userPic.append("employee-picture", this.profile_pic);
      userPic.append("teamID", teamID);
      this.$axios({
        method: "post",
        url: "/api/user/update-profile-pic",
        data: userPic,
        config: {
          headers: {
            Authorization: `Bearer ${teamID}`
          }
        }
      })
        .then(response => {
          this.dialog.title = "Created";
          this.dialog.text = "Profile has been successfully created.";
          this.dialog.show = true;
        })
        .catch(error => {
          this.dialog.title = "Error";
          this.dialog.text = "Error creating the profile. Contact Tech team";
          this.dialog.show = true;
        });
    },
    reloadPage() {
      this.$router.push("/admin/manage/users");
    }
  },
  computed: {
    getUserDetails() {
      this.$axios
        .post("/api/users/get-user-profile", { userID: this.userID })
        .then(response => {
          console.log(response.data);
          let userDetails = {
            userName: response.data.userName,
            userEmail: response.data.userEmail,
            userID: response.data._id
          };
          if (response.data.settings) {
            if (response.data.settings[0]) {
              userDetails.settings = response.data.settings;
            } else {
              userDetails.settings = [
                {
                  doj: ""
                }
              ];
            }
          } else {
            userDetails.settings = [
              {
                doj: ""
              }
            ];
          }
          this.userDetails = userDetails;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getUserDetails;
  }
};
</script>