<template>
  <v-app>
    <v-app-bar color="#2B3449" :clipped-left="clipped" fixed app>
      <router-link to="/" tag="v-toolbar-title" exact>
        <img src="/sb-logo.png" alt="social beat logo" class="sb-logo" />
        {{ title }}
      </router-link>
      <v-spacer />
      <v-btn v-if="$store.state.user_logged_in == true" @click="logMeOut" icon>
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-app-bar-nav-icon
        class="ml-2"
        @click="navDrawer = !navDrawer"
      ></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      v-if="$store.state.user_logged_in"
      expand-on-hover
      color="#2B3449"
      clipped
      app
      v-model="navDrawer"
    >
      <template v-slot:prepend>
        <v-list>
          <v-list-item link two-line>
            <v-list-item-avatar>
              <v-img :src="$store.state.avatar"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">{{
                $store.state.user_name
              }}</v-list-item-title>
              <v-list-item-subtitle>{{
                $store.state.user_email
              }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>

      <v-divider></v-divider>

      <v-list nav>
        <v-list-item
          outlined
          :to="item.url"
          link
          v-for="(item, index) in navItems"
          :key="index"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>

        <template v-if="$store.state.role == 1">
          <v-list-item outlined to="/admin/">
            <v-list-item-icon>
              <v-icon>mdi-view-dashboard</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Admin Dashboard</v-list-item-title>
          </v-list-item>
        </template>

        <template v-if="$store.state.isFeedbackAccess">
          <v-list-item outlined to="/feedback/">
            <v-list-item-icon>
              <v-icon>mdi-comment-text-multiple-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Feedbacks</v-list-item-title>
          </v-list-item>
        </template>

        <!-- <template v-if="$store.state.role == 3 || $store.state.user_email == 'arju@socialbeat.in'">
          <v-list-item outlined to="/manager/dashboard">
            <v-list-item-icon>
              <v-icon>mdi-view-dashboard</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Manager Dashboard</v-list-item-title>
          </v-list-item>
        </template>-->
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer :fixed="fixed" app class="justify-center">
      <span class="caption">Social Beat</span>
    </v-footer>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      clipped: true,
      navDrawer:
        this.$vuetify.breakpoint.name == "xs" ||
        this.$vuetify.breakpoint.name == "sm"
          ? false
          : true,
      logout_btn: false,
      drawer: false,
      fixed: false,
      navItems: [
        { icon: "mdi-home", title: "Home", url: "/dashboard" },
        { icon: "mdi-pen", title: "Apply Leave", url: "/leave/apply" },
        {
          icon: "mdi-file-document",
          title: "Leave Policies",
          url: "/leave-policy"
        },
        { icon: "mdi-history", title: "Leave History", url: "/leave/view" },
        {
          icon: "mdi-progress-wrench",
          title: "Settings",
          url: "/settings"
        }
        // {
        //   icon: "mdi-comment-text-multiple-outline",
        //   title: "Feedback",
        //   url: "/feedback"
        // }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Leave X"
    };
  },
  asyncData(context) {
    return {
      logout_btn: context.store.state.user_logged_in
    };
  },
  methods: {
    async logMeOut() {
      var resposeData = {
        user_logged_in: false,
        user: {
          userName: "",
          userEmail: "",
          token: "",
          picture: "",
          app_id: []
        }
      };
      this.$store.commit("setUserState", resposeData);
      this.$store.commit("setFeebackAccess", false);
      await gapi.load("auth2", async function(self) {
        await gapi.auth2
          .getAuthInstance()
          .signOut()
          .then(function(self) {
            window.location.reload();
          })
          .catch(err => {
            console.log(err);
          });
      });
    }
  },
  mounted() {
    console.log();
  }
};
</script>

<style>
.v-toolbar__title {
  cursor: pointer;
}
.sb-logo {
  max-width: 40px;
  vertical-align: middle;
}
.v-application .accent--text {
  color: #fff !important;
}

@media (max-width: 575.98px) {
  footer span {
    font-size: 0.8rem;
  }
}
</style>
