<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" fixed app>
      <router-link to="/" tag="v-toolbar-title" exact>
        <img src="/sb-logo.png" alt="social beat logo" class="sb-logo" />
        {{ title }}
      </router-link>
      <v-spacer />
      <v-btn v-if="$store.state.user_logged_in == true" @click="logMeOut" icon>
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-content>
      <nuxt />
    </v-content>
    <v-footer :fixed="fixed" app class="justify-center">
      <span class="caption">Social Beat</span>
    </v-footer>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      clipped: true,
      logout_btn: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Leave X"
    };
  },
  asyncData(context) {
    return {
      logout_btn: context.store.state.user_logged_in
    };
  },
  methods: {
    async logMeOut() {
      var resposeData = {
        user_logged_in: false,
        user: {
          userName: "",
          userEmail: "",
          token: "",
          picture: "",
          app_id: []
        }
      };
      this.$store.commit("setUserState", resposeData);
      await gapi.load("auth2", async function(self) {
        await gapi.auth2
          .getAuthInstance()
          .signOut()
          .then(function(self) {
            window.location.reload();
          })
          .catch(err => {
            console.log(err);
          });
      });
    }
  }
};
</script>

<style>
.v-toolbar__title {
  cursor: pointer;
}
.sb-logo {
  max-width: 40px;
  vertical-align: middle;
}
.v-application .accent--text {
  color: #fff !important;
}

@media (max-width: 575.98px) {
  footer span {
    font-size: 0.8rem;
  }
}
</style>
