<template>
  <div>
    <v-col v-if="!buddySelected" cols="12" md="10" class="mx-auto">
      <v-sheet class="pa-12 mx-auto text-center">
        <v-combobox
          v-model="selectedBuddies"
          :items="users"
          item-text="name"
          item-value="id"
          label="Select your buddies"
          multiple
          chips
        >
          <template slot="item" slot-scope="data">
            <div class="user-list mt-2">
              <v-avatar left size="32" class="pr-2 mr-2">
                <img :src="data.item.picture" :alt="data.item.name" />
              </v-avatar>
              {{ data.item.name }}
            </div>
          </template>
          <template v-slot:selection="data">
            <v-chip
              :key="'buddychip'+JSON.stringify(data.item.id)"
              v-bind="data.attrs"
              :input-value="data.selected"
              @click:close="data.parent.selectItem(data.item.name)"
            >
              <v-avatar class="accent white--text" left>
                <img :src="data.item.picture" :alt="data.item.name" />
              </v-avatar>
              {{ data.item.name }}
            </v-chip>
          </template>
        </v-combobox>
        <v-btn
          @click="saveBuddyList"
        >{{selectedBuddies.length == 0 ? "Add Buddy" : "Add " +selectedBuddies.length+ " Buddies"}}</v-btn>
        <v-btn @click="reSelectBuddies" class="mx-2" fab dark small color="orange">
          <v-icon dark>mdi-backup-restore</v-icon>
        </v-btn>
      </v-sheet>
    </v-col>
    <v-col v-else cols="10" class="mx-auto">
      <template>
        <v-card>
          <v-card-title>
            Your buddies on leave today
            <v-btn @click="reSelectBuddies" class="mx-2" fab dark small color="orange">
              <v-icon dark>mdi-account-edit</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-col cols="12" sm="8" md="6" lg="4">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-card-title>
          <v-data-table :headers="todayLeaveDataHeader" :items="leaveTableData" :search="search">
            <template v-slot:item.datesTaken="{ item }">
              <v-chip
                class="leave-dates-chips"
                :key="index"
                v-for="(leaveDate,index) in item.datesTaken"
                :color="leaveDate == dateToday ? 'red':'black'"
              >{{leaveDate}}</v-chip>
            </template>
          </v-data-table>
        </v-card>
      </template>
    </v-col>
    <v-overlay v-model="leaveLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
    
<script>
import axios from "axios";
export default {
  head() {
    return {
      link: [{ rel: "stylesheet", href: "/animate.css" }]
    };
  },
  data() {
    return {
      loaderAnim: false,
      dialog: false,
      dateToday: "",
      leaveLoader: false,
      search: "",
      buddySelected: false,
      leaveTableData: [],
      todayLeaveDataHeader: [
        { text: "Name", value: "userName" },
        { text: "Dates", value: "datesTaken" }
      ],
      selectedBuddies: [],
      users: []
    };
  },
  methods: {
    saveBuddyList() {
      this.leaveLoader = true;
      var token = this.$store.state.token;
      var buddiesSelected = this.selectedBuddies;
      var buddies = [];
      for (let i = 0; i < buddiesSelected.length; i++) {
        const buddy_id = buddiesSelected[i].id;
        buddies.push({ buddy_id });
      }
      axios
        .post("/api/buddy-tracker/add/buddies", { token, buddies })
        .then(response => {
          this.leaveLoader = false;
          this.updateBuddyTable();
        })
        .catch(error => {
          this.leaveLoader = false;
          console.log(error);
        });
    },
    reSelectBuddies() {
      this.buddySelected = !this.buddySelected;
    },
    updateBuddyTable() {
      var token = this.$store.state.token;
      this.buddySelected = true;
      axios
        .post("/api/buddy-tracker/get/today ", { token })
        .then(response => {
          var buddies = response.data.buddies;
          var leaveData = response.data;
          var newLeaveData = [];
          var today = this.$moment(this.$moment().toDate()).format(
            "YYYY-MM-DD"
          );
          if (leaveData.length > 0) {
            for (let i = 0; i < leaveData.length; i++) {
              const leaveDates = leaveData[i].leave_dates;
              if (leaveDates.length > 0) {
                for (let j = 0; j < leaveDates.length; j++) {
                  const leaveIndiDates = leaveDates[j];
                  if (leaveIndiDates == today) {
                    newLeaveData.push(leaveData[i]);
                  }
                }
              }
            }
            if (newLeaveData.length > 0) {
              var newTableData = [];
              for (let k = 0; k < newLeaveData.length; k++) {
                var s_no = k + 1;
                const todaysLeave = newLeaveData[k];
                var datesTaken = todaysLeave.leave_dates;
                var userName = todaysLeave.user_id.userName;
                var leaveTableData = {
                  userName,
                  datesTaken
                };
                newTableData.push(leaveTableData);
              }
              this.leaveTableData = newTableData;
              this.leaveLoader = false;
            } else {
              this.leaveLoader = false;
            }
          } else {
            this.leaveLoader = false;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  computed: {
    checkUserBuddy() {},
    getUsers() {
      var token = this.$store.state.token;
      axios
        .all([
          axios.post("/api/buddy-tracker/get/users", { token }),
          axios.post("/api/buddy-tracker/get-my-buddies ", { token })
        ])
        .then(response => {
          var users = response[0].data;
          var buddies = response[1].data.buddies;
          if (buddies.length > 0) {
            this.buddySelected = true;
          }
          for (let i = 0; i < users.length; i++) {
            const user = users[i];
            this.users.push({
              id: user._id,
              name: user.userName,
              picture: user.picture
            });
          }
          for (let j = 0; j < buddies.length; j++) {
            const buddyObj = buddies[j].buddy_id;
            var id = buddyObj._id;
            var name = buddyObj.userName;
            var picture = buddyObj.picture;
            this.selectedBuddies.push({ id, name, picture });
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    getTodayLeave() {
      this.leaveLoader = true;
      this.dateToday = this.$moment(this.$moment().toDate()).format(
        "YYYY-MM-DD"
      );
      var token = this.$store.state.token;
      axios
        .post("/api/buddy-tracker/get/today", { token })
        .then(response => {
          var leaveData = response.data;
          var newLeaveData = [];
          var today = this.$moment(this.$moment().toDate()).format(
            "YYYY-MM-DD"
          );
          if (leaveData.length > 0) {
            for (let i = 0; i < leaveData.length; i++) {
              const leaveDates = leaveData[i].leave_dates;
              if (leaveDates.length > 0) {
                for (let j = 0; j < leaveDates.length; j++) {
                  const leaveIndiDates = leaveDates[j];
                  if (leaveIndiDates == today) {
                    newLeaveData.push(leaveData[i]);
                  }
                }
              }
            }
            if (newLeaveData.length > 0) {
              for (let k = 0; k < newLeaveData.length; k++) {
                var s_no = k + 1;
                const todaysLeave = newLeaveData[k];
                var datesTaken = todaysLeave.leave_dates;
                var userName = todaysLeave.user_id.userName;
                var leaveTableData = {
                  userName,
                  datesTaken
                };
                this.leaveTableData.push(leaveTableData);
                this.leaveLoader = false;
              }
            } else {
              this.leaveLoader = false;
            }
          } else {
            this.leaveLoader = false;
          }
        })
        .catch(error => {
          console.log(error);
          this.leaveLoader = false;
        });
    }
  },
  mounted() {
    this.getUsers;
    this.getTodayLeave;
  }
};
</script>

<style>
.v-card__title {
  font-size: 1rem;
}

.expanded__content .v-list-item__content .v-chip {
  margin-left: 0 !important;
}

.leave-dates-chips {
  margin-right: 5px;
}

@media (max-width: 575.98px) {
  .leave-dates-chips:nth-child(4),
  .leave-dates-chips:nth-child(5) {
    margin-top: 5px;
  }
  .leave-dates-chips:nth-child(3),
  .leave-dates-chips:nth-child(5) {
    margin-right: 0;
  }
  .leave-dates-chips {
    margin-right: 5px;
  }
}
</style>