<template>
  <div>
    <v-container fluid>
      <v-row>
        <!-- <breakTimer /> -->
        <v-col cols="12" md="4" class="text-center justify-center">
          <leavesummary />
        </v-col>
        <v-col cols="12" md="4">
          <upcomingholidays />
        </v-col>
        <v-col cols="12" md="4">
          <whoisnotatwork />
        </v-col>
      </v-row>
    </v-container>
    <feedbackpopup />
  </div>
</template>

<script>
import whoisnotatwork from "~/components/whoisnotatwork.vue";
// import breakTimer from "~/components/break-timer.vue";
import leavesummary from "~/components/leavesummary.vue";
import upcomingholidays from "~/components/upcomingleaves.vue";
import feedbackpopup from "~/components/feedbackpopup.vue";

import axios from "axios";
export default {
  inject: ["theme"],
  middleware: "auth",
  data() {
    return {
      public_holidays: [],
      leave_counter_text: 0
    };
  },
  components: {
    whoisnotatwork,
    leavesummary,
    upcomingholidays,
    feedbackpopup
    // breakTimer
  }
};
</script>

<style>
.v-content {
  background-color: #1c2539 !important;
}

#doughnut-chart {
  margin: 0 auto !important;
}

#upcoming-holidays button.v-btn.v-btn--rounded.v-btn--outlined.theme--dark {
  color: #fff !important;
  caret-color: #fff !important;
}

#upcoming-holidays .v-picker__body.theme--dark {
  background-color: #2b3449;
}

.leave-counter-text {
  position: absolute;
  width: calc(100% - 30px);
  top: 50%;
  transform: translateY(-50%);
}

.leave-counter-text {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#leave-counter-text-wrapper {
  position: relative;
}
</style>
