<template>
  <v-container fluid fill-height>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar height="50" color="#F44336" dark flat>
              <v-spacer></v-spacer>
              <v-toolbar-title>Authentication</v-toolbar-title>
              <div class="flex-grow-1"></div>
            </v-toolbar>
            <v-card-text>
              <div
                id="google-signin-button"
                class="align-center justify-center"
              ></div>
            </v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-overlay v-model="loader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  middleware({ store, redirect }) {
    if (store.state.user_logged_in) {
      return redirect("/dashboard");
    }
  },
  data: () => {
    return {
      loader: false
    };
  },
  computed: {},
  mounted() {
    gapi.signin2.render("google-signin-button", {
      scope:
        "profile email https://www.googleapis.com/auth/gmail.settings.basic",
      width: 240,
      height: 50,
      longtitle: true,
      theme: "dark",
      onsuccess: this.onSignIn,
      onfailure: this.onFailure
    });
  },
  methods: {
    onSignIn(googleUser) {
      this.loader = true;
      var profile = googleUser.getBasicProfile();
      var token = googleUser.getAuthResponse().id_token;
      axios
        .post("/api/chech-g-token", {
          token: token
        })
        .then(response => {
          console.log(response.data);
          if (response.data.loggedin === true) {
            this.loader = false;
            this.$store.commit("setUserState", response.data);
            if (response.data.user.isFeedbackAccess === true) {
              this.$store.commit("setFeebackAccess", true);
            }
            if (this.$route.query.to) {
              this.$router.push(this.$route.query.to);
            } else {
              this.$router.push("/dashboard");
            }
          } else {
            this.loader = false;
            console.log("login failed.");
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    onFailure(error) {
      console.log("Failed");
      console.log(error);
    }
  }
};
</script>

<style>
.login-card {
  position: relative;
}
.login-card-text {
  position: absolute;
  top: calc(50% + 23px);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}
#google-signin-button {
  width: 240px;
  margin: 0 auto;
}
.abcRioButtonBlue .abcRioButtonIcon {
  border-radius: 15px !important;
}
.abcRioButtonBlue {
  background-color: #000 !important;
  border-radius: 15px !important;
}
</style>
