<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="6" md="3">
          <v-card class="fill-height" color="#2B3449">
            <v-card-text class="text-center white--text subtitle-1">
              Casual Leave -
              <v-chip class="blue-grey darken-1">10</v-chip>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6" md="3">
          <v-card class="fill-height" color="#2B3449">
            <v-card-text class="text-center white--text subtitle-1">
              Earned Leave -
              <v-chip class="blue-grey darken-1">6</v-chip>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6" md="3">
          <v-card class="fill-height" color="#2B3449">
            <v-card-text class="text-center white--text subtitle-1">
              Sick Leave -
              <v-chip class="blue-grey darken-1">8</v-chip>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6" md="3">
          <v-card class="fill-height" color="#2B3449">
            <v-card-text class="text-center white--text subtitle-1">
              Company Declared Holidays -
              <v-chip class="blue-grey darken-1">14</v-chip>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card class="mx-auto" color="#2B3449">
            <v-card-title>Leave Policy</v-card-title>
            <v-card-text>
              <ul>
                <li
                  class="white--text"
                >Marriage Leave - Maximum of two weeks can be taken as leave for marriage purposes.</li>
                <li
                  class="mt-2 white--text"
                >As a standard, leave calculations will be based on the calendar year - January to December.</li>
                <li
                  class="mt-2 white--text"
                >In case of new team members , the leave policy is not applicable till they have completed their probation period. Any leaves taken during the first three months and during the notice period will be considered as loss of pay unless approved based on special requests by the team leader.</li>
                <li
                  class="mt-2 white--text"
                >In case of new team members joining us mid-year, leaves will be calculated on a prorated basis from the date of joining.</li>
                <li
                  class="mt-2 white--text"
                >For purposes of paid leave calculations, please keep in mind that the 1st, 3rd and 5th Saturdays, which are declared holidays, Sundays and company holidays will not be counted.</li>
                <li
                  class="mt-2 white--text"
                >Earned Leaves is created with an intention to provide a weeklong break for all of us. It needs to be taken in one shot, but these cannot be clubbed with casual or sick leaves.</li>
                <li
                  class="mt-2 white--text"
                >At the end of a calendar year, we can choose to carry forward the earned leave for the next year.</li>
                <li
                  class="mt-2 white--text"
                >Any leaves over and above those mentioned in our new leave policy will be calculated as loss of pay.</li>
                <li
                  class="mt-2 white--text"
                >Please get approval in advance to ensure we live up to the commitment to clients.</li>
              </ul>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card color="#2B3449">
            <v-card-title>Work Days and Timings</v-card-title>
            <v-card-text
              class="white--text"
            >The Social Beat office works from Monday to Saturday between 10 a.m. and 7 p.m. Every 1st, 3rd and 5th Saturdays of the month are off.</v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>