<template>
  <div>
    <v-container fluid>
      <v-alert
        v-model="settingUpdateAlert"
        dense
        dismissible
        :type="settingUpdateAlertType"
      >{{settingUpdateAlertMessage}}</v-alert>
      <v-card color="#2B3449">
        <v-card-title>Settings</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              Employee ID :
              <v-chip color="error" class="mr-2">{{settings.employeeID}}</v-chip>Date of Joining :
              <v-chip color="error">{{settings.doj}}</v-chip>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field outlined v-model="settings.name" label="Full Name" required></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-combobox
                outlined
                item-text="name"
                item-value="email"
                v-model="settings.reportingPerson"
                :items="users"
                chips
                :return-object="false"
                label="Reporting Person"
              ></v-combobox>
            </v-col>
            <v-col cols="12" md="4">
              <v-text-field outlined v-model="settings.phone" label="Phone Number" required></v-text-field>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                class="mt-4"
                :items="['Chennai', 'Bangalore', 'Mumbai']"
                label="Select City"
                v-model="settings.workingCity"
                solo
              ></v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-select
                class="mt-4"
                :items="['Web', 'Design', 'Video', 'SEO', 'Content','Tech','Analytics','Ads','HR','Accounts','Social','Business Development','Influencer']"
                label="Select Team"
                v-model="settings.team"
                solo
              ></v-select>
            </v-col>
            <v-col cols="12" md="4">
              <v-combobox
                outlined
                v-model="settings.designation"
                :items="[
                    'Head',
                    'EVP',
                    'AVP',
                    'Sr Manager',
                    'Manager',
                    'Lead',
                    'Sr Associate',
                    'Associate'
                  ]"
                chips
                label="Select Designation"
              ></v-combobox>
            </v-col>
            <v-col cols="12" class="text-center">
              <v-btn class="mx-auto" dark @click="saveSettings">Save</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      settings: {
        name: "",
        reportingPerson: "",
        phone: "",
        dob: "",
        blood_group: "",
        writeup: "",
        workingCity: "",
        team: "",
        designation: "",
        doj: "",
        employeeID: ""
      },
      menu: false,
      settingUpdateAlert: this.$store.state.profile_status ? false : true,
      settingUpdateAlertType: this.$store.state.profile_status
        ? "success"
        : "error",
      settingUpdateAlertMessage:
        "Complete the settings to enable leave application",
      users: [],
      date: new Date().toISOString().substr(0, 10)
    };
  },
  methods: {
    save(date) {
      this.$refs.menu.save(date);
    },
    saveSettings() {
      this.settingsLoader = true;
      var token = this.$store.state.token;
      var settings = this.settings;
      console.log(settings);
      if (
        this.settings.reportingPerson == "" ||
        this.settings.reportingPerson == null
      ) {
        return alert("Please select reporting person to save settings");
      }
      this.$axios
        .post("/api/employee/settings/save", {
          token: token,
          settings: settings
        })
        .then(response => {
          this.settingsLoader = false;
          this.dialogueTitle = "Settings";
          this.dialogueText = "Saved successfully!";
          this.settingsScreen = false;
          this.msgdialog = true;
          this.$store.commit(
            "setUserProfileState",
            response.data.profile_status
          );
          if (response.data.profile_status) {
            this.settingUpdateAlertType = "success";
            this.settingUpdateAlertMessage = "Setting updated successfully!";
            this.settingUpdateAlert = true;
          } else if (!response.data.profile_status) {
            this.settingUpdateAlertType = "error";
            this.settingUpdateAlertMessage =
              "Settings saved. Please complete the settings to enable leave application";
            this.settingUpdateAlert = true;
          }
        })
        .catch(error => {
          this.settingsLoader = false;
          this.dialogueTitle = "Settings";
          this.dialogueText = "Error saving your data!";
          this.msgdialog = true;
        });
    }
  },
  computed: {
    openSettingsScreen() {
      var token = this.$store.state.token;
      this.$axios
        .post("/api/employee/settings/get", {
          token
        })
        .then(response => {
          console.log(response.data);
          this.leaveLoader = false;
          var me = response.data.user;
          var users = response.data.users;
          var settings = {
            name: me.userName,
            reportingPerson: me.settings[0].reporting_person
              ? me.settings[0].reporting_person.userEmail
              : "",
            phone: me.settings[0] ? me.settings[0].phone_number : "",
            dob: me.settings[0] ? me.settings[0].dob : "",
            blood_group: me.settings[0] ? me.settings[0].blood_group : "",
            writeup: me.settings[0] ? me.settings[0].about_me : "",
            workingCity: me.settings[0] ? me.settings[0].working_city : "",
            team: me.settings[0] ? me.settings[0].team : "",
            designation: me.settings[0] ? me.settings[0].designation : "",
            doj: me.settings[0] ? me.settings[0].doj : "",
            employeeID: me.employeeID
          };
          this.settings = settings;
          if (users.length > 0) {
            for (let m = 0; m < users.length; m++) {
              const id = users[m]._id;
              const name = users[m].userName;
              const email = users[m].userEmail;
              this.users.push({ id, name, email });
            }
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.openSettingsScreen;
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  }
};
</script>