<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col v-for="(item, index) in team" :key="index" cols="12" md="4">
          <v-card class="mx-auto" width="100%">
            <v-card-text>
              <p class="display-1 text--primary">{{ item.name }}</p>
              <p>{{ item.email }}</p>
              <p>{{ item.designation }} - {{ item.team }}</p>
              <p>
                {{
                item.designation_text === undefined
                ? "Not Available"
                : item.designation_text
                }}
              </p>
              <p v-if="item.team_class.length === 0">Team Separation Not Found</p>
              <div class="text--primary">{{ item.write_up }}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn
                @click="
                  openUpdater(
                    item._id,
                    item.name,
                    item.designation,
                    item.team,
                    item.designation_text,
                    item.write_up,
                    item.team_class
                  )
                "
                text
                color="red"
              >Update</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="replydialog" persistent>
      <v-card>
        <v-card-title class="headline">Success</v-card-title>
        <v-card-text>Data has been updated Successfully</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="replydialog = false">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog" persistent>
      <v-card>
        <v-card-title class="headline">Update Team Member</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="4">
              <v-text-field v-model="updateUser.name" label="Name" outlined></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-select
                v-model="updateUser.designation"
                :items="[
                  'Head',
                  'Co-Founder',
                  'EVP',
                  'AVP',
                  'Sr Manager',
                  'Manager',
                  'Lead',
                  'Sr Associate',
                  'Associate'
                ]"
                label="Designation"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="4">
              <v-select
                :items="[
                  'Web',
                  'Design',
                  'Video',
                  'SEO',
                  'Content',
                  'Analytics',
                  'Ads',
                  'Social Media',
                  'Product',
                  'Business Development',
                  'Creative',
                  'HR',
                  'Accounts'
                ]"
                label="Team"
                v-model="updateUser.team"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="4">
              <v-combobox
                v-model="updateUser.team_class"
                :items="[
                  'social',
                  'media-planning',
                  'video',
                  'technology',
                  'strategy',
                  'seo-content',
                  'design',
                  'hr-finance'
                ]"
                label="Team Page Separation"
                multiple
                chips
              >
                <template v-slot:selection="data">
                  <v-chip
                    :key="JSON.stringify(data.item)"
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    :disabled="data.disabled"
                    @click:close="data.parent.selectItem(data.item)"
                  >
                    <v-avatar
                      class="accent white--text"
                      left
                      v-text="data.item.slice(0, 1).toUpperCase()"
                    ></v-avatar>
                    {{ data.item }}
                  </v-chip>
                </template>
              </v-combobox>
            </v-col>
            <v-col cols="4">
              <v-text-field label="Designation Text" v-model="updateUser.designation_text" outlined></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-textarea
                outlined
                name="input-7-4"
                v-model="updateUser.write_up"
                label="Write Up"
                value
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog = false">Cancel</v-btn>
          <v-btn color="green darken-1" text @click="updateTeamMember">Update Data</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      dialog: false,
      replydialog: false,
      team: [],
      updateUser: {
        id: "",
        name: "",
        designation: "",
        team: "",
        designation_text: "",
        write_up: "",
        team_class: []
      }
    };
  },
  methods: {
    updateTeamMember() {
      var userData = this.updateUser;
      axios
        .post("/api/team/update-single-data", userData)
        .then(response => {
          console.log(response);
          this.dialog = false;
          this.replydialog = true;
        })
        .catch(error => {
          console.log(error);
        });
    },
    openUpdater(
      id,
      name,
      designation,
      team,
      designation_text,
      write_up,
      team_class
    ) {
      console.log(team_class);

      this.dialog = true;
      this.updateUser.id = id;
      this.updateUser.name = name;
      this.updateUser.designation = designation;
      this.updateUser.team = team;
      this.updateUser.designation_text = designation_text;
      this.updateUser.write_up = write_up;
      this.updateUser.team_class = team_class;
    }
  },
  computed: {
    getUsers() {
      axios
        .post("/api/team/get-all")
        .then(response => {
          console.log(response.data);
          this.team = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getUsers;
  }
};
</script>

<style></style>
