<template>
  <div>
    <v-col cols="12" md="6">
      <h3>Leave request</h3>
      <v-card class="mx-auto mt-3" :color="actionCardColor" dark>
        <v-card-title>
          <v-icon large left>mdi-ticket-confirmation</v-icon>
          <span
            class="d-block title font-weight-light"
          >{{leave_type}} - {{leave_status}} {{approvedBy ? `by ${approvedBy}` : ''}}</span>
        </v-card-title>

        <v-card-text class="headline font-weight-bold">
          {{leave_message}}
          <br />
          <v-chip
            class="mr-2"
            light
            v-for="(leaveDate, index) in leave_dates"
            :key="index"
          >{{leaveDate}}</v-chip>
        </v-card-text>

        <v-card-actions>
          <v-list-item class="grow">
            <v-list-item-avatar color="grey darken-3">
              <v-img class="elevation-6" :src="avatar"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>
                {{userName}}
                <br />
                {{userEmail}}
              </v-list-item-title>
            </v-list-item-content>

            <v-row align="center" v-if="actionButton" justify="end">
              <v-btn @click="changeLeaveStatus('Rejected')" text>
                <v-icon class="mr-1">mdi-cancel</v-icon>Cancel Leave
              </v-btn>
            </v-row>
          </v-list-item>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout(context) {
    return context.store.state.role == "1"
      ? "admin"
      : context.store.state.role == "3"
      ? "manager"
      : "";
  },
  middleware: "admin_manager_auth",
  asyncData({ params, route, redirect, $axios }) {
    var leave_id = params.leave_id;
    return $axios
      .post("/api/leave/check/leave", {
        leave_id: params.leave_id
      })
      .then(res => {
        var status = res.data.status;
        if (status != "valid") {
          return redirect("/error");
        }
        return {
          userName: res.data.leave.user_id.userName,
          userEmail: res.data.leave.user_id.userEmail,
          avatar: res.data.leave.user_id.picture,
          leave_message: res.data.leave.leave_message,
          leave_type: res.data.leave.leave_type,
          leave_status: res.data.leave.leave_status,
          leave_id: res.data.leave._id,
          user_id: res.data.leave.user_id._id,
          leave_dates: res.data.leave.leave_dates,
          actionButton:
            res.data.leave.leave_status == "Approved" ||
            res.data.leave.leave_status == "Cancelled" ||
            res.data.leave.leave_status == "Rejected"
              ? false
              : true,
          actionCardColor:
            res.data.leave.leave_status == "Approved"
              ? "green"
              : res.data.leave.leave_status == "Rejected"
              ? "#000"
              : res.data.leave.leave_status == "Cancelled"
              ? "warning"
              : "#F44336",
          approvedBy: res.data.leave.approved_by
            ? res.data.leave.approved_by.userName
            : ""
        };
      })
      .catch(error => {
        // console.log(error);
      });
  },
  data() {
    return {
      userName: "",
      userEmail: "",
      avatar: "",
      leave_message: "",
      leave_type: "",
      leave_status: "",
      leave_id: "",
      user_id: "",
      leave_dates: [],
      actionButton: true,
      actionCardColor: "",
      approvedBy: "",
      overlay: false
    };
  },
  methods: {
    changeLeaveStatus(status) {
      this.overlay = true;
      var status = status;
      var leave_id = this.leave_id;
      var user_id = this.user_id;
      var token = this.$store.state.token;
      var url = "";
      if (status == "Rejected") {
        url = "/api/leave/reject-leave";
      } else if (status == "Approved") {
        url = "/api/leave/approve-leave";
      }
      axios
        .post(url, {
          token,
          status,
          leave_id,
          user_id
        })
        .then(response => {
          if (response.data.status == "Approved") {
            this.overlay = false;
            this.actionButton = false;
            this.leave_status = "Approved";
            this.actionCardColor = "green";
            this.approvedBy = response.data.approved_by.userName;
          } else if (response.data.status == "Rejected") {
            this.overlay = false;
            this.actionButton = false;
            this.leave_status = `Rejected by ${this.$store.state.user_name}`;
            this.actionCardColor = "#000";
          }
        })
        .catch(error => {
          this.overlay = false;
          console.log(error);
        });
    }
  }
};
</script>