<template>
  <div>
    <v-container fluid>
      <v-card color="#2B3449">
        <v-card-title>
          <v-spacer></v-spacer>How do you feel about this month
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text class="text-center">
          <v-col cols="12" md="8" class="mx-auto">
            <v-row>
              <v-col cols="12" class="text-center" md="4">
                <v-btn @click="feedback = 'Motivated'" icon>
                  <v-icon
                    :color="feedback == 'Motivated' ? 'red' : 'white'"
                    x-large
                  >mdi-emoticon-excited-outline</v-icon>
                </v-btn>
                <p class="mt-2 subtitle-1 mb-0 font-weight-bold">I feel motivated</p>
              </v-col>
              <v-col cols="12" class="text-center" md="4">
                <v-btn @click="feedback = 'Neutral'" icon>
                  <v-icon
                    :color="feedback == 'Neutral' ? 'red' : 'white'"
                    x-large
                  >mdi-emoticon-neutral-outline</v-icon>
                </v-btn>
                <p class="mt-2 subtitle-1 mb-0 font-weight-bold">I feel neutral</p>
              </v-col>
              <v-col cols="12" class="text-center" md="4">
                <v-btn @click="feedback = 'Stressed'" icon>
                  <v-icon
                    :color="feedback == 'Stressed' ? 'red' : 'white'"
                    x-large
                  >mdi-emoticon-sad-outline</v-icon>
                </v-btn>
                <p class="mt-2 subtitle-1 mb-0 font-weight-bold">I feel stressed</p>
              </v-col>
            </v-row>
          </v-col>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="submitFeedback" color="success">Submit Feedback</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      feedback: ""
    };
  },
  methods: {
    submitFeedback() {
      this.$axios
        .post("/api/feedback/record-feedback", {
          feedback: this.feedback,
          email: this.$store.state.user_email
        })
        .then(response => {
          console.log(response.data);
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>