<template>
  <div>
    <v-container fluid>
      <v-card color="#2B3449">
        <v-card-title
          >Feedbacks
          <v-btn @click="generateReport" icon class="ml-2"
            ><v-icon>mdi-download</v-icon></v-btn
          ><v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field
        ></v-card-title>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="feedbackData"
            :search="search"
          >
            <template v-slot:item.feedback="{ item }">
              <v-chip small :color="getColor(item.feedback)" dark>{{
                item.feedback
              }}</v-chip>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Name",
          value: "createdBy"
        },
        { text: "Feeback", value: "feedback" },
        { text: "Email", value: "userEmail" },
        { text: "Time", value: "createdAt" }
      ],
      feedbackData: []
    };
  },
  methods: {
    getColor(feedback) {
      if (feedback == "Okay") {
        return "warning";
      } else if (feedback == "Great") {
        return "success";
      } else if (feedback == "Not Okay") {
        return "error";
      }
    },
    generateReport() {
      this.$axios
        .post("/api/feedbacks/download", {
          userEmail: this.$store.state.user_email
        })
        .then(response => {
          alert("Feedback has been generated and sent to your email");
        })
        .catch(error => {
          console.log(error);
          alert("Report generation failed");
        });
    }
  },
  computed: {
    getFeedbacks() {
      this.$axios
        .post("/api/feedbacks/get", { token: this.$store.state.token })
        .then(response => {
          console.log(response.data);
          this.feedbackData = response.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.getFeedbacks;
  }
};
</script>

<style>
thead,
tbody,
.v-data-footer {
  background-color: #2b3449;
}
</style>
