<template>
  <div>
    <v-col cols="12" md="6">
      <template v-if="!isCancelProcess">
        <h3>Leave request</h3>
        <v-card class="mx-auto mt-3" :color="actionCardColor" dark>
          <v-card-title>
            <v-icon large left>mdi-ticket-confirmation</v-icon>
            <span
              class="d-block title font-weight-light"
            >{{leave_type}} - {{leave_status}} {{approvedBy ? `by ${approvedBy}` : ''}}</span>
          </v-card-title>

          <v-card-text class="headline font-weight-bold">
            {{leave_message}}
            <br />
            <v-chip
              class="mr-2"
              light
              v-for="(leaveDate, index) in leave_dates"
              :key="index"
            >{{leaveDate}}</v-chip>
          </v-card-text>

          <v-card-actions>
            <v-list-item class="grow">
              <v-list-item-avatar color="grey darken-3">
                <v-img class="elevation-6" :src="avatar"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>
                  {{userName}}
                  <br />
                  {{userEmail}}
                </v-list-item-title>
              </v-list-item-content>

              <v-row align="center" v-if="actionButton" justify="end">
                <v-btn @click="changeLeaveStatus('Rejected')" text>
                  <v-icon class="mr-1">mdi-cancel</v-icon>Reject
                </v-btn>
                <v-btn @click="changeLeaveStatus('Approved')" text>
                  <v-icon class="mr-1">mdi-approval</v-icon>Approve
                </v-btn>
              </v-row>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </template>
      <template v-else>
        <h3>Cancellation request</h3>
        <v-card
          class="mx-auto mt-3"
          :class="canActionCardColor == 'error' ? 'white--text' : 'black--text'"
          :color="canActionCardColor"
          light
        >
          <v-card-title>
            <v-icon
              :color="canActionCardColor == 'error' ? 'white' : 'black'"
              large
              left
            >mdi-ticket-confirmation</v-icon>
            <span
              :class="canActionCardColor == 'error' ? 'white--text' : 'black--text'"
              class="d-block title font-weight-light"
            >{{`Cancellation request from ${userName}`}}</span>
          </v-card-title>
          <v-card-text :class="canActionCardColor == 'error' ? 'white--text' : 'black--text'">
            <template>
              <div class="subtitle-1">Reason for cancellation : {{cancelReason}}</div>
            </template>
            <template>
              <div class="subtitle-1">Leave Message : {{leave_message}}</div>
            </template>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text>Reject</v-btn>
            <v-btn @click="changeCancelLeaveStatus(true)" text>Approve</v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-col>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog v-model="dialog.show" persistent max-width="375">
      <v-card>
        <v-card-title class="headline">{{dialog.title}}</v-card-title>
        <v-card-text>{{ dialog.text }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1" text @click="dialog.show = false">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout(context) {
    return context.store.state.role == "1"
      ? "admin"
      : context.store.state.role == "3"
      ? "manager"
      : "";
  },
  middleware: "admin_manager_auth",
  asyncData({ params, route, redirect, $axios }) {
    var leave_id = params.leave_id;
    return $axios
      .post("/api/leave/check/leave", {
        leave_id: params.leave_id
      })
      .then(res => {
        var status = res.data.status;
        if (status != "valid") {
          return redirect("/error");
        }
        return {
          userName: res.data.leave.user_id.userName,
          userEmail: res.data.leave.user_id.userEmail,
          avatar: res.data.leave.user_id.picture,
          leave_message: res.data.leave.leave_message,
          leave_type: res.data.leave.leave_type,
          leave_status: res.data.leave.leave_status,
          leave_id: res.data.leave._id,
          user_id: res.data.leave.user_id._id,
          leave_dates: res.data.leave.leave_dates,
          actionButton:
            res.data.leave.leave_status == "Approved" ||
            res.data.leave.leave_status == "Cancelled" ||
            res.data.leave.leave_status == "Rejected"
              ? false
              : true,
          actionCardColor:
            res.data.leave.leave_status == "Approved"
              ? "green"
              : res.data.leave.leave_status == "Rejected"
              ? "#000"
              : res.data.leave.leave_status == "Cancelled"
              ? "warning"
              : "#F44336",
          approvedBy: res.data.leave.approved_by
            ? res.data.leave.approved_by.userName
            : "",
          cancelReason: res.data.leave.cancellation_reason,
          isCancelProcess: res.data.leave.isCancelProcess,
          canActionCardColor: res.data.leave.isCancelProcess
            ? "warning"
            : "error"
        };
      })
      .catch(error => {
        // console.log(error);
      });
  },
  data() {
    return {
      userName: "",
      userEmail: "",
      avatar: "",
      leave_message: "",
      cancelReason: "",
      leave_type: "",
      leave_status: "",
      canActionCardColor: "",
      leave_id: "",
      user_id: "",
      leave_dates: [],
      actionButton: true,
      actionCardColor: "",
      approvedBy: "",
      overlay: false,
      isCancelProcess: false,
      dialog: {
        show: false,
        title: "",
        text: ""
      }
    };
  },
  methods: {
    changeLeaveStatus(status) {
      this.overlay = true;
      var status = status;
      var leave_id = this.leave_id;
      var user_id = this.user_id;
      var token = this.$store.state.token;
      var url = "";
      if (status == "Rejected") {
        url = "/api/leave/reject-leave";
      } else if (status == "Approved") {
        url = "/api/leave/approve-leave";
      }
      axios
        .post(url, {
          token,
          status,
          leave_id,
          user_id
        })
        .then(response => {
          if (response.data.status == "Approved") {
            this.overlay = false;
            this.actionButton = false;
            this.leave_status = "Approved";
            this.actionCardColor = "green";
            this.approvedBy = response.data.approved_by.userName;
          } else if (response.data.status == "Rejected") {
            this.overlay = false;
            this.actionButton = false;
            this.leave_status = `Rejected by ${this.$store.state.user_name}`;
            this.actionCardColor = "#000";
          }
        })
        .catch(error => {
          this.overlay = false;
          console.log(error);
        });
    },
    changeCancelLeaveStatus(status) {
      this.overlay = true;
      var leave_id = this.leave_id;
      if (status) {
        var url = "/api/leave/approve-cancellation";
      } else {
        var url = "/api/leave/reject-cancellation";
      }
      this.$axios
        .post(url, { token: this.$store.state.token, leave_id })
        .then(response => {
          this.overlay = false;
          this.dialog.title = "Success!";
          this.dialog.text = "Leave Cancellation Approved!";
          this.isCancelProcess = false;
          this.dialog.show = true;
        })
        .catch(error => {
          this.overlay = false;
          this.dialog.title = "Error!";
          this.dialog.text = "Unknown Error occured!";
          this.dialog.show = true;
          console.log(error);
        });
    }
  }
};
</script>