<template>
  <div>
    <v-col cols="12">
      <template>
        <v-card>
          <v-card-title>
            On leave today
            <v-spacer></v-spacer>
            <v-col cols="12" sm="8" md="6" lg="4">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-card-title>
          <v-data-table :headers="todayLeaveDataHeader" :items="leaveTableData" :search="search">
            <template v-slot:item.datesTaken="{ item }">
              <v-chip
                class="leave-dates-chips"
                :key="index"
                v-for="(leaveDate,index) in item.datesTaken"
                :color="leaveDate == dateToday ? 'red':'black'"
              >{{leaveDate}}</v-chip>
            </template>

            <template v-slot:item.leaveStatus="{ item }">
              <v-chip
                class="mr-2"
                :color="item.leaveStatus == 'Approved' ? 'green':'orange'"
                dark
              >{{item.leaveStatus}}</v-chip>
            </template>
          </v-data-table>
        </v-card>
      </template>
    </v-col>
    <v-overlay v-model="leaveLoader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>
    
<script>
import axios from "axios";
export default {
  head() {
    return {
      link: [{ rel: "stylesheet", href: "/animate.css" }]
    };
  },
  layout: "admin",
  middleware: "admin_auth",
  data() {
    return {
      loaderAnim: false,
      dialog: false,
      dateToday: "",
      leaveLoader: false,
      search: "",
      leaveTableData: [],
      todayLeaveDataHeader: [
        { text: "Name", value: "userName" },
        { text: "Email", value: "userEmail" },
        { text: "Dates", value: "datesTaken" },
        { text: "Approved By", value: "approved_by" },
        { text: "POC Email", value: "approved_by_email" },
        { text: "Status", value: "leaveStatus" }
      ]
    };
  },
  methods: {},
  computed: {
    getTodayLeave() {
      this.leaveLoader = true;
      this.dateToday = this.$moment(this.$moment().toDate()).format(
        "YYYY-MM-DD"
      );
      var token = this.$store.state.token;
      axios
        .post("/api/attendance/get/today", { token })
        .then(response => {
          var leaveData = response.data;
          var newLeaveData = [];
          var today = this.$moment(this.$moment().toDate()).format(
            "YYYY-MM-DD"
          );
          if (leaveData.length > 0) {
            for (let i = 0; i < leaveData.length; i++) {
              const leaveDates = leaveData[i].leave_dates;
              if (leaveDates.length > 0) {
                for (let j = 0; j < leaveDates.length; j++) {
                  const leaveIndiDates = leaveDates[j];
                  if (leaveIndiDates == today) {
                    newLeaveData.push(leaveData[i]);
                  }
                }
              }
            }
            if (newLeaveData.length > 0) {
              for (let k = 0; k < newLeaveData.length; k++) {
                var s_no = k + 1;
                const todaysLeave = newLeaveData[k];
                if (todaysLeave.approved_by) {
                  var approved_by = todaysLeave.approved_by.userName;
                  var approved_by_email = todaysLeave.approved_by.userEmail;
                } else {
                  var approved_by = "Awaiting approval";
                  var approved_by_email = "Awaiting approval";
                }
                var datesTaken = todaysLeave.leave_dates;
                var leaveMessage = todaysLeave.leave_message;
                var leaveStatus = todaysLeave.leave_status;
                var leavetype = todaysLeave.leave_type;
                var appliedOn = todaysLeave.createdAt;
                var userName = todaysLeave.user_id.userName;
                var userEmail = todaysLeave.user_id.userEmail;
                var leaveTableData = {
                  s_no,
                  approved_by,
                  approved_by_email,
                  userName,
                  userEmail,
                  datesTaken,
                  leaveMessage,
                  leaveStatus,
                  leavetype,
                  appliedOn
                };
                this.leaveTableData.push(leaveTableData);
                this.leaveLoader = false;
              }
            } else {
              this.leaveLoader = false;
            }
          } else {
            this.leaveLoader = false;
          }
        })
        .catch(error => {
          console.log(error);
          this.leaveLoader = false;
        });
    }
  },
  mounted() {
    this.getTodayLeave;
  }
};
</script>

<style>
.v-card__title {
  font-size: 1rem;
}

.expanded__content .v-list-item__content .v-chip {
  margin-left: 0 !important;
}

.leave-dates-chips {
  margin-right: 5px;
}

@media (max-width: 575.98px) {
  .leave-dates-chips:nth-child(4),
  .leave-dates-chips:nth-child(5) {
    margin-top: 5px;
  }
  .leave-dates-chips:nth-child(3),
  .leave-dates-chips:nth-child(5) {
    margin-right: 0;
  }
  .leave-dates-chips {
    margin-right: 5px;
  }
}
</style>