<template>
  <div>
    <v-container fluid>
      <v-col cols="12">
        <v-card color="#2B3449">
          <v-card-title>
            Attendance - View All
            <v-spacer></v-spacer>
            <v-text-field v-model="search" label="Search" single-line hide-details></v-text-field>
          </v-card-title>
          <v-data-table
            id="attendance-register-table"
            :headers="headers"
            :items="leaveregisterdb"
            :search="search"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            item-key="id"
            show-expand
            class="elevation-1"
          >
            <template v-slot:expanded-item="{ headers,item,index }">
              <td :colspan="headers.length">
                <v-list class="my-8" three-line>
                  <v-subheader>All Leaves</v-subheader>
                  <template
                    :v-if="item.leaveDates.length > 0"
                    v-for="(leaveitem, index) in item.leaveDates"
                  >
                    <v-list-item :class="'animated leavecard'+index" :key="leaveitem.leave_id._id">
                      <v-list-item-avatar>
                        <v-img :src="item.avatar"></v-img>
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-list-item-title v-html="leaveitem.leave_id.leave_type + ' Leave'"></v-list-item-title>
                        <v-list-item-subtitle>
                          <span class="text--primary">{{leaveitem.leave_id.leave_status}}</span>
                          &mdash; {{leaveitem.leave_id.leave_message}}
                          <span
                            class="d-block mt-1"
                            v-if="leaveitem.hasOwnProperty('approved_by')"
                          >Approved By : {{leaveitem.approved_by.userName}}</span>
                        </v-list-item-subtitle>
                        <template>
                          <div>
                            <v-chip
                              class="mx-3 my-3"
                              :key="'chip'+index"
                              v-for="(leavedays, index) in leaveitem.leave_id.leave_dates"
                            >{{leavedays}}</v-chip>
                          </div>
                        </template>
                      </v-list-item-content>
                      <v-list-item-icon v-if="leaveitem.leave_id.leave_status == 'Applied'">
                        <v-btn
                          text
                          small
                          @click="changeLeaveStatus('Approved',leaveitem.leave_id._id,item.id,index)"
                          color="green"
                        >Approve</v-btn>
                        <v-btn
                          text
                          small
                          @click="changeLeaveStatus('Rejected',leaveitem.leave_id._id,item.id,index)"
                          color="error"
                        >Reject</v-btn>
                      </v-list-item-icon>
                    </v-list-item>
                    <v-divider :key="index" :inset="leaveitem.inset"></v-divider>
                  </template>
                  <template :v-if="item.leaveDates.length == 0">
                    <div class="text-center">
                      <p>Nothing to display</p>
                    </div>
                  </template>
                </v-list>
              </td>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-container>
    <v-overlay v-model="loaderAnim">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{dialogueHeadline}}</v-card-title>
        <v-card-text v-html="dialogueDescription"></v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1" text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
export default {
  head() {
    return {
      link: [{ rel: "stylesheet", href: "/animate.css" }]
    };
  },
  layout: "admin",
  middleware: "admin_auth",
  data() {
    return {
      search: "",
      loaderAnim: false,
      dialog: false,
      dialogueHeadline: "",
      dialogueDescription: "",
      headers: [
        {
          text: "Name",
          align: "left",
          sortable: false,
          value: "username"
        },
        { text: "Email", value: "useremail" },
        { text: "Total Count", value: "leaveCount" }
      ],
      leaveregisterdb: [],
      expanded: [],
      singleExpand: false
    };
  },
  methods: {
    changeLeaveStatus(status, leaveId, userId, index) {
      this.loaderAnim = true;
      var status = status;
      var leave_id = leaveId;
      var user_id = userId;
      var token = this.$store.state.token;

      var url = "";
      if (status == "Rejected") {
        url = "/api/leave/reject-leave";
      } else if (status == "Approved") {
        url = "/api/leave/approve-leave";
      }

      axios
        .post(url, {
          token,
          status,
          leave_id,
          user_id
        })
        .then(response => {
          console.log(response.data);
          this.loaderAnim = false;
          var element = document.querySelector(".leavecard" + index);
          element.classList.add("shake");
          for (var i = 0; i < this.leaveregisterdb.length; i++) {
            if (this.leaveregisterdb[i].id == user_id) {
              this.leaveregisterdb[i].leaveDates[
                index
              ].leave_id.leave_status = status;
              if (status == "Approved") {
                this.leaveregisterdb[i].leaveDates[index].approved_by =
                  response.data.approved_by;
              }
            }
          }
        })
        .catch(error => {
          this.loaderAnim = false;
          this.dialogueHeadline = "Error";
          this.dialogueDescription =
            "Something went wrong. Please try again later!";
          this.dialog = true;
        });
    }
  },
  computed: {
    getLeaveRegister() {
      this.loaderAnim = true;
      var token = this.$store.state.token;
      axios
        .post("/api/leave-register", {
          token
        })
        .then(response => {
          console.log(response.data);
          for (let i = 0; i < response.data.length; i++) {
            const id = response.data[i]._id;
            const username = response.data[i].userName;
            const leaveDates = response.data[i].leavedates;
            const leaveMessage = response.data[i].leave_message;
            const poc = response.data[i].leave_poc;
            const useremail = response.data[i].userEmail;
            const avatar = response.data[i].picture;
            var leaveCount = 0;
            for (let j = 0; j < leaveDates.length; j++) {
              const dateCount = leaveDates[j].leave_id.leave_dates.length;
              leaveCount = leaveCount + dateCount;
            }
            this.leaveregisterdb.push({
              id,
              username,
              leaveDates,
              useremail,
              avatar,
              leaveCount
            });
          }
          this.loaderAnim = false;
          console.log(this.leaveregisterdb);
        })
        .catch(error => {
          this.loaderAnim = false;
          console.log(error);
        });
    }
  },
  mounted() {
    this.getLeaveRegister;
  }
};
</script>

<style>
.v-card__title {
  font-size: 1rem;
}

.expanded__content .v-list-item__content .v-chip {
  margin-left: 0 !important;
}

#attendance-register-table {
  background-color: #2b3449;
}
</style>